Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team

fix: check for port use (#3190)
  frontend/cli/cmd_serve.go
Owners: @TBD54566975/ftl-frontend-team

feat: support cmd+click to open module + decl links in new tab (#3187)
  frontend/console/e2e/helpers.ts
  frontend/console/src/components/List.tsx
  frontend/console/src/features/modules/ModulesPanel.tsx
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/decls/DeclLink.tsx
Owners: @TBD54566975/ftl-frontend-team

chore: remove todos
  internal/buildengine/languageplugin/external_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: typos in python runtime
  Justfile
  python-runtime/python-plugin/service.go
  python-runtime/scaffolding/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

tmp
  frontend/cli/cmd_goose.go
Owners: @TBD54566975/ftl-frontend-team

fix: add istio policy before deployment (#3176)
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/controller/scaling/kube_scaling_integration_test.go
  backend/runner/runner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: remove todos (#3194)
  internal/buildengine/languageplugin/external_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: build errors indicate if they are compiler errors
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  go-runtime/schema/extract.go
  go-runtime/schema/schema_test.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/builderrors/builderrors.go
  internal/lsp/lsp.go
  python-runtime/python-plugin/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team

fix: go should ignore invalid names of scaffold files in python-runtime
  python-runtime/compile/build-template/main/go.mod
  python-runtime/compile/external-module-template/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: go should ignore invalid names of scaffold files in python-runtime (#3203)
  python-runtime/compile/build-template/main/go.mod
  python-runtime/compile/external-module-template/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: improve "ftl profile new" help
  frontend/cli/cmd_profile.go
  frontend/cli/main.go
  internal/configuration/api.go
  internal/configuration/providers/registry.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

fix errors popping up aggresively in lsp
  go-runtime/compile/build.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/builderrors/builderrors.go
Owners: @TBD54566975/ftl-go-team, @TBD54566975/ftl-reviewers, @alecthomas

fix: add debug logging to the provisioner
  backend/provisioner/deployment_test.go
  backend/provisioner/registry.go
  backend/provisioner/service.go
  frontend/cli/cmd_serve.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

lint
  internal/builderrors/builderrors.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: add debug logging to the provisioner (#3208)
  backend/provisioner/deployment_test.go
  backend/provisioner/registry.go
  backend/provisioner/service.go
  frontend/cli/cmd_serve.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: build errors indicate if they are compiler errors (#3197)
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  go-runtime/compile/build.go
  go-runtime/schema/extract.go
  go-runtime/schema/schema_test.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/builderrors/builderrors.go
  internal/lsp/lsp.go
  python-runtime/python-plugin/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team

chore: improve "ftl profile new" help (#3209)
  frontend/cli/cmd_profile.go
  frontend/cli/main.go
  internal/configuration/api.go
  internal/configuration/providers/registry.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

fix: log provisioners when they are registered
  backend/provisioner/deployment_test.go
  backend/provisioner/registry.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: log provisioners when they are registered (#3210)
  backend/provisioner/deployment_test.go
  backend/provisioner/registry.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: remove redundant log messages in language plugin proto
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  common/plugin/serve.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  internal/buildengine/languageplugin/external_integration_test.go
  internal/buildengine/languageplugin/external_plugin.go
  python-runtime/python-plugin/log_to_stream.go
  python-runtime/python-plugin/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: disable metrics if endpoint not set
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/StaticConfigSource.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/config/FTLConfigSource.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: disable metrics if endpoint not set (#3213)
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/StaticConfigSource.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/config/FTLConfigSource.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

chore: remove redundant log messages in language plugin proto (#3212)
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  common/plugin/serve.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  internal/buildengine/languageplugin/external_integration_test.go
  internal/buildengine/languageplugin/external_plugin.go
  python-runtime/python-plugin/log_to_stream.go
  python-runtime/python-plugin/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: fail port allocation for required ports
  backend/controller/scaling/localscaling/local_scaling.go
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_build.go
  frontend/cli/cmd_deploy.go
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_new.go
  frontend/cli/cmd_schema_diff.go
  frontend/cli/cmd_serve.go
  internal/bind/bind_allocator.go
  internal/buildengine/engine_test.go
  internal/buildengine/languageplugin/external_integration_test.go
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: fail BindAllocator.Next() allocation for required ports (#3215)
  backend/controller/scaling/localscaling/local_scaling.go
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_build.go
  frontend/cli/cmd_deploy.go
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_new.go
  frontend/cli/cmd_schema_diff.go
  frontend/cli/cmd_serve.go
  internal/bind/bind_allocator.go
  internal/buildengine/engine_test.go
  internal/buildengine/languageplugin/external_integration_test.go
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

module artifacts simply stored as blobs and module artifact enumeration support dropped given this is not support
  backend/controller/artefacts/oci_registry.go
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

lint removal
  backend/controller/artefacts/oci_registry.go
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

update CLI command desc
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-frontend-team

feat: emit module artifacts as blobs (#3184)
  backend/controller/artefacts/oci_registry.go
  frontend/cli/cmd_release.go
  go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

creating the hybrid artifact registry which combines db and oci based registries
  backend/controller/artefacts/artefact.go
  backend/controller/artefacts/hybrid_registry.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: JVM method names cannot be keywords
  examples/java/echo/src/main/java/ftl/echo/Echo.java
  examples/kotlin/echo/src/main/kotlin/ftl/echo/Echo.kt
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

init
  backend/controller/console/console.go
  backend/protos/xyz/block/ftl/v1/console/console.pb.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
  frontend/console/src/features/modules/decls/ConfigPanel.tsx
  frontend/console/src/features/modules/decls/DataPanel.tsx
  frontend/console/src/features/modules/decls/DatabasePanel.tsx
  frontend/console/src/features/modules/decls/DeclPanel.tsx
  frontend/console/src/features/modules/decls/EnumPanel.tsx
  frontend/console/src/features/modules/decls/References.tsx
  frontend/console/src/features/modules/decls/SecretPanel.tsx
  frontend/console/src/features/modules/decls/SubscriptionPanel.tsx
  frontend/console/src/features/modules/decls/TopicPanel.tsx
  frontend/console/src/features/modules/decls/TypeAliasPanel.tsx
  frontend/console/src/features/modules/module.utils.ts
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

lint
  backend/controller/console/console.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: do not use remote endpoint for deploy’s bind allocator
  frontend/cli/cmd_deploy.go
Owners: @TBD54566975/ftl-frontend-team

referenced by
  frontend/console/src/features/modules/decls/References.tsx
Owners: @TBD54566975/ftl-frontend-team

feat: add references to decl pages in console (#3223)
  backend/controller/console/console.go
  backend/protos/xyz/block/ftl/v1/console/console.pb.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
  frontend/console/src/features/modules/decls/ConfigPanel.tsx
  frontend/console/src/features/modules/decls/DataPanel.tsx
  frontend/console/src/features/modules/decls/DatabasePanel.tsx
  frontend/console/src/features/modules/decls/DeclPanel.tsx
  frontend/console/src/features/modules/decls/EnumPanel.tsx
  frontend/console/src/features/modules/decls/References.tsx
  frontend/console/src/features/modules/decls/SecretPanel.tsx
  frontend/console/src/features/modules/decls/SubscriptionPanel.tsx
  frontend/console/src/features/modules/decls/TopicPanel.tsx
  frontend/console/src/features/modules/decls/TypeAliasPanel.tsx
  frontend/console/src/features/modules/module.utils.ts
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: do not use remote endpoint for deploy’s bind allocator (#3224)
  frontend/cli/cmd_deploy.go
Owners: @TBD54566975/ftl-frontend-team

chore: remove dead error handling
  internal/integration/actions.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: JVM method names cannot be keywords (#3211)
  examples/java/echo/src/main/java/ftl/echo/Echo.java
  examples/kotlin/echo/src/main/kotlin/ftl/echo/Echo.kt
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: prevent topic_events being deleted if there is a subscription referencing it
  backend/controller/sql/schema/20241029015638_subscription_cursor.sql
Owners: @TBD54566975/ftl-reviewers, @alecthomas
