Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

fix: optional handling in the JVM
  internal/integration/actions.go
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/DefaultOptionalBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/HTTPProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/Nullability.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/config/FTLConfigSource.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/FTLJavaProcessor.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/FTLKotlinProcessor.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/TestInvokeGoFromKotlin.kt
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

Extract schema from type enum holder classes
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
Owners: @TBD54566975/ftl-infra-team

fix: optional handling in the JVM (#2951)
  internal/integration/actions.go
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/DefaultOptionalBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/HTTPProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/Nullability.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/config/FTLConfigSource.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/FTLJavaProcessor.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/FTLKotlinProcessor.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/TestInvokeGoFromKotlin.kt
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: buf connect package versions and dev deps
  frontend/console/package.json
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/ftl_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/plugin_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/service_connect.ts
  pnpm-lock.yaml
Owners: @TBD54566975/ftl-frontend-team

CronEvent dal to pb conversion, mock timeline for cronjobs
  backend/controller/console/console.go
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/timeline/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: timeline event for cron scheduled
  backend/controller/console/console.go
  backend/controller/controller.go
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/sql/schema/20240926231955_timeline_async_call_event_types.sql
  backend/controller/timeline/events_cron.go
  backend/controller/timeline/internal/sql/models.go
  backend/controller/timeline/internal/sql/querier.go
  backend/controller/timeline/internal/sql/queries.sql
  backend/controller/timeline/internal/sql/queries.sql.go
  backend/controller/timeline/query.go
  backend/controller/timeline/timeline.go
  backend/controller/timeline/timeline_test.go
  backend/protos/xyz/block/ftl/v1/console/console.pb.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
  deployment/base/db-migrate/kustomization.yml
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-frontend-team

remove ID from inserted event
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/timeline/events_cron.go
  backend/controller/timeline/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

rebase on timeline service refactor
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/timeline/events_cron.go
  backend/controller/timeline/timeline.go
  backend/controller/timeline/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add timeline_test delay for cron
  backend/controller/timeline/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

cron ui icon
  frontend/console/src/features/timeline/TimelineCronScheduled.tsx
  frontend/console/src/features/timeline/TimelineIcon.tsx
Owners: @TBD54566975/ftl-frontend-team

fix rebase issue
  frontend/console/src/features/timeline/TimelineEventList.tsx
Owners: @TBD54566975/ftl-frontend-team

cleanup and cron details view
  backend/controller/console/console.go
  backend/controller/timeline/events_cron.go
  backend/controller/timeline/query.go
  backend/controller/timeline/timeline_test.go
  frontend/console/src/features/timeline/Timeline.tsx
  frontend/console/src/features/timeline/TimelineCronScheduled.tsx
  frontend/console/src/features/timeline/TimelineIcon.tsx
  frontend/console/src/features/timeline/details/TimelineCronScheduledDetails.tsx
  frontend/console/src/features/timeline/filters/TimelineFilterPanel.tsx
  frontend/console/src/features/timeline/timeline.utils.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

add duration to cron scheduled event
  backend/controller/cronjobs/cronjobs.go
  backend/controller/timeline/events_cron.go
  backend/controller/timeline/query.go
  backend/controller/timeline/timeline_test.go
  backend/protos/xyz/block/ftl/v1/console/console.pb.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

StartTime -> Time, add duration to pb response
  backend/controller/console/console.go
  backend/controller/cronjobs/cronjobs.go
  backend/controller/timeline/events_cron.go
  backend/controller/timeline/query.go
  backend/controller/timeline/timeline_test.go
  frontend/console/src/features/timeline/TimelineCronScheduled.tsx
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

backend/schema -> internal/schema
  backend/controller/timeline/events_cron.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

ui updates
  frontend/console/src/features/timeline/TimelineIcon.tsx
  frontend/console/src/features/timeline/filters/TimelineFilterPanel.tsx
  frontend/console/src/features/timeline/timeline.utils.ts
Owners: @TBD54566975/ftl-frontend-team

feat: timeline events for scheduled cron jobs (#2860)
  backend/controller/console/console.go
  backend/controller/controller.go
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/cronjobs_test.go
  backend/controller/sql/schema/20240926231955_timeline_async_call_event_types.sql
  backend/controller/timeline/events_cron.go
  backend/controller/timeline/internal/sql/models.go
  backend/controller/timeline/internal/sql/querier.go
  backend/controller/timeline/internal/sql/queries.sql
  backend/controller/timeline/internal/sql/queries.sql.go
  backend/controller/timeline/query.go
  backend/controller/timeline/timeline.go
  backend/controller/timeline/timeline_test.go
  backend/protos/xyz/block/ftl/v1/console/console.pb.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
  deployment/base/db-migrate/kustomization.yml
  frontend/console/src/features/timeline/Timeline.tsx
  frontend/console/src/features/timeline/TimelineCronScheduled.tsx
  frontend/console/src/features/timeline/TimelineEventList.tsx
  frontend/console/src/features/timeline/TimelineIcon.tsx
  frontend/console/src/features/timeline/details/TimelineCronScheduledDetails.tsx
  frontend/console/src/features/timeline/filters/TimelineFilterPanel.tsx
  frontend/console/src/features/timeline/timeline.utils.ts
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-frontend-team

feat: add pubsub go example
  examples/go/pubsub/dispatch.go
  examples/go/pubsub/ftl.toml
  examples/go/pubsub/go.mod
  examples/go/pubsub/go.sum
  examples/go/pubsub/kitchen.go
  examples/go/pubsub/types.ftl.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix up go.mod
  examples/go/pubsub/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: only delete the service
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  deployment/base/ftl-controller/role.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

add readmes
  examples/go/cron/README.md
  examples/go/pubsub/README.md
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add pubsub go example (#2960)
  examples/go/cron/README.md
  examples/go/pubsub/README.md
  examples/go/pubsub/dispatch.go
  examples/go/pubsub/ftl.toml
  examples/go/pubsub/go.mod
  examples/go/pubsub/go.sum
  examples/go/pubsub/kitchen.go
  examples/go/pubsub/types.ftl.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: issue where modules were disappear when schema changed
  frontend/console/src/api/schema/use-schema.ts
Owners: @TBD54566975/ftl-frontend-team

feat: add fsm example
  examples/go/fsm/README.md
  examples/go/fsm/fsm.go
  examples/go/fsm/ftl.toml
  examples/go/fsm/go.mod
  examples/go/fsm/go.sum
  examples/go/fsm/types.ftl.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

- release cli command stubs - adding docker registry image
  docker-compose.yml
  frontend/cli/cmd_release.go
  frontend/cli/main.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: record when modules are activated
  backend/controller/cronjobs/internal/sql/models.go
  backend/controller/cronjobs/internal/sql/queries.sql.go
  backend/controller/dal/internal/sql/models.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/sql/schema/20241002225509_create_last_activated.sql
  deployment/base/db-migrate/kustomization.yml
  sqlc.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

feat: docs and fixes for Java external types
  docs/content/docs/reference/externaltypes.md
  internal/integration/actions.go
  internal/schema/schema.go
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/JVMCodeGenerator.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TypeAliasProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/LanguageTypeMapping.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/TypeAlias.java
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/AnySerializedType.java
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/AnySerializedTypeMapper.java
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/CustomSerializedType.java
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/CustomSerializedTypeMapper.java
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/AnySerializedType.kt
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/AnySerializedTypeMapper.kt
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/CustomSerializedType.kt
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/CustomSerializedTypeMapper.kt
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/TestInvokeGoFromKotlin.kt
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: increase kube test timeout
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: docs and fixes for Java external types (#2968)
  docs/content/docs/reference/externaltypes.md
  internal/integration/actions.go
  internal/schema/schema.go
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/JVMCodeGenerator.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TypeAliasProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/LanguageTypeMapping.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/TypeAlias.java
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/AnySerializedType.java
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/AnySerializedTypeMapper.java
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/CustomSerializedType.java
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/CustomSerializedTypeMapper.java
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/AnySerializedType.kt
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/AnySerializedTypeMapper.kt
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/CustomSerializedType.kt
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/CustomSerializedTypeMapper.kt
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/TestInvokeGoFromKotlin.kt
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: record when modules are activated (#2964)
  backend/controller/cronjobs/internal/sql/models.go
  backend/controller/cronjobs/internal/sql/queries.sql.go
  backend/controller/dal/internal/sql/models.go
  backend/controller/dal/internal/sql/queries.sql
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/sql/schema/20241002225509_create_last_activated.sql
  deployment/base/db-migrate/kustomization.yml
  sqlc.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: inifinite loop if port bindig fails for all ports for some reason
  internal/bind/bind_allocator.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: infinite loop if port binding fails for all ports for some reason (#2972)
  internal/bind/bind_allocator.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: don't retry indefinitly with local scaling
  backend/controller/scaling/localscaling/local_scaling.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: don't retry indefinitly with local scaling (#2974)
  backend/controller/scaling/localscaling/local_scaling.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: move setupDB to a separate dev package
  frontend/cli/cmd_serve.go
  internal/dev/db.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

chore: remove Provisioner interface, and use plugin clients directly. Adds an empty dev provisioner
  backend/provisioner/deployment/deployment.go
  backend/provisioner/deployment/deployment_test.go
  backend/provisioner/deployment/dev_provisioner.go
  backend/provisioner/deployment/noop_provisioner.go
  backend/provisioner/deployment/plugin_provisioner.go
  backend/provisioner/deployment/provisioner.go
  backend/provisioner/provisioner_integration_test.go
  backend/provisioner/service.go
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-reviewers, @alecthomas

chore: dev provider to create postgres DBs
  backend/provisioner/deployment/dev_provisioner.go
  backend/provisioner/deployment/provisioner.go
  backend/provisioner/provisioner_integration_test.go
  frontend/cli/cmd_dev.go
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: refactor provisioner package structure
  backend/provisioner/deployment.go
  backend/provisioner/deployment/noop_provisioner.go
  backend/provisioner/deployment_test.go
  backend/provisioner/dev/dev_provisioner.go
  backend/provisioner/noop/noop_provisioner.go
  backend/provisioner/registry.go
  backend/provisioner/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: remove JVM integration tests module
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/JVMCodeGenerator.java
  jvm-runtime/ftl-runtime/java/integration-tests/pom.xml
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/ftl-module-schema/builtin.pb
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/ftl-module-schema/echo.pb
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/ftl-module-schema/time.pb
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/java/xyz/block/ftl/java/runtime/it/FtlJavaRuntimeResource.java
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/java/xyz/block/ftl/java/runtime/it/HelloClient.java
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/java/xyz/block/ftl/java/runtime/it/MyTopic.java
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/java/xyz/block/ftl/java/runtime/it/Person.java
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/resources/application.properties
  jvm-runtime/ftl-runtime/java/integration-tests/src/test/java/xyz/block/ftl/java/runtime/it/FtlJavaRuntimeResourceTest.java
  jvm-runtime/ftl-runtime/java/pom.xml
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: remove JVM integration tests module (#2976)
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/JVMCodeGenerator.java
  jvm-runtime/ftl-runtime/java/integration-tests/pom.xml
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/ftl-module-schema/builtin.pb
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/ftl-module-schema/echo.pb
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/ftl-module-schema/time.pb
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/java/xyz/block/ftl/java/runtime/it/FtlJavaRuntimeResource.java
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/java/xyz/block/ftl/java/runtime/it/HelloClient.java
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/java/xyz/block/ftl/java/runtime/it/MyTopic.java
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/java/xyz/block/ftl/java/runtime/it/Person.java
  jvm-runtime/ftl-runtime/java/integration-tests/src/main/resources/application.properties
  jvm-runtime/ftl-runtime/java/integration-tests/src/test/java/xyz/block/ftl/java/runtime/it/FtlJavaRuntimeResourceTest.java
  jvm-runtime/ftl-runtime/java/pom.xml
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
