Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team

feat: add DD trace id to the logs (#3107)
  backend/controller/observability/calls.go
  backend/controller/observability/controller.go
  backend/runner/runner.go
  go-runtime/server/server.go
  internal/observability/logger.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-go-team

feat: release a docker image for the provisioner (#3123)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  Dockerfile.provisioner
  ftl-provisioner-config.toml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: remove cron jobs on deactivation (#3122)
  backend/controller/controller.go
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/cronjobs_integration_test.go
  backend/controller/cronjobs/internal/cronjobs_test.go
  backend/controller/cronjobs/internal/dal/dal.go
  backend/controller/cronjobs/internal/sql/querier.go
  backend/controller/cronjobs/internal/sql/queries.sql
  backend/controller/cronjobs/internal/sql/queries.sql.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/fsm_test.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/timeline/events_call.go
  backend/controller/timeline/internal/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: release assets should wait for provisioner build to be ready
  .github/workflows/release.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: release assets should wait for provisioner build to be ready (#3124)
  .github/workflows/release.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

Use JsonProperty to rename fields
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/enums/Cat.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

Don't use super interfaces for generted verb clients
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbType.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
Owners: @TBD54566975/ftl-infra-team

feat: scrollable sidebar and refactor (#3093)
  frontend/console/src/features/timeline/Timeline.tsx
  frontend/console/src/features/timeline/TimelineCall.tsx
  frontend/console/src/features/timeline/TimelineCronScheduled.tsx
  frontend/console/src/features/timeline/TimelineEventList.tsx
  frontend/console/src/features/timeline/TimelineIngress.tsx
  frontend/console/src/features/timeline/details/TimelineCallDetails.tsx
  frontend/console/src/features/timeline/details/TimelineCronScheduledDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDeploymentCreatedDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDeploymentUpdatedDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDetailsColorBar.tsx
  frontend/console/src/features/timeline/details/TimelineDetailsHeader.tsx
  frontend/console/src/features/timeline/details/TimelineIngressDetails.tsx
  frontend/console/src/features/timeline/details/TimelineLogDetails.tsx
  frontend/console/src/features/timeline/details/TimelineTimestamp.tsx
  frontend/console/src/features/traces/TraceGraphHeader.tsx
  frontend/console/src/features/traces/details/TraceDetailsCall.tsx
  frontend/console/src/features/traces/details/TraceDetailsIngress.tsx
  frontend/console/src/features/verbs/verb.utils.ts
  frontend/console/src/layout/SidePanel.tsx
  frontend/console/src/providers/side-panel-provider.tsx
Owners: @TBD54566975/ftl-frontend-team

fix: remove warning from pnpm install
  renovate.json5
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: redact sensitive runtime metadata before writing to DB
  internal/schema/database.go
  internal/schema/module.go
  internal/schema/redact.go
  internal/schema/redact_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: DatabaseRuntime.ToProto
  internal/schema/database.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: fix linter for sum type validation
  internal/schema/redact.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: delete async call with the cron job
  backend/controller/cronjobs/internal/dal/dal.go
  backend/controller/cronjobs/internal/sql/querier.go
  backend/controller/cronjobs/internal/sql/queries.sql
  backend/controller/cronjobs/internal/sql/queries.sql.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: cron and pubsub verb forms and test
  frontend/console/e2e/cron.spec.ts
  frontend/console/e2e/pubsub.spec.ts
  frontend/console/src/features/verbs/verb.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: cron and pubsub verb forms and test (#3126)
  frontend/console/e2e/cron.spec.ts
  frontend/console/e2e/pubsub.spec.ts
  frontend/console/src/features/verbs/verb.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: delete async call with the cron job (#3127)
  backend/controller/cronjobs/internal/dal/dal.go
  backend/controller/cronjobs/internal/sql/querier.go
  backend/controller/cronjobs/internal/sql/queries.sql
  backend/controller/cronjobs/internal/sql/queries.sql.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: pr feedback
  backend/controller/controller.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat(controller): Juho/dsn to controller (#3106)
  backend/controller/controller.go
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.proto
  backend/provisioner/controller_provisioner.go
  backend/provisioner/dev_provisioner.go
  backend/provisioner/provisioner_integration_test.go
  backend/provisioner/resource_equality_test.go
  backend/provisioner/service.go
  backend/provisioner/testdata/go/echo/echo.go
  backend/provisioner/testdata/go/ftl-project.toml
  cmd/ftl-provisioner-cloudformation/provisioner.go
  cmd/ftl-provisioner-cloudformation/status.go
  frontend/cli/main.go
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb.ts
  internal/configuration/obfuscator.go
  internal/schema/database.go
  internal/schema/module.go
  internal/schema/redact.go
  internal/schema/redact_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

Delete the interfaces, rename VerbClientDefinition
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClient.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientDefinition.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientEmpty.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientSink.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientSource.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

feat: add k3d ingress
  charts/ftl/templates/ingress.yaml
  charts/ftl/values.yaml
  deployment/Justfile
  deployment/values-release.yaml
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix comments
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
Owners: @TBD54566975/ftl-infra-team

fix: default provisioner should be optional
  backend/provisioner/registry.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add k3d ingress (#3128)
  charts/ftl/templates/ingress.yaml
  charts/ftl/values.yaml
  deployment/Justfile
  deployment/values-release.yaml
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: default provisioner should be optional (#3131)
  backend/provisioner/registry.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add provisioner to the helm chart
  charts/ftl/templates/provisioner-services.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: provisioner support in helm
  backend/provisioner/service.go
  charts/ftl/templates/_helpers.tpl
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.provisioner.test
  deployment/Justfile
  deployment/ftl-provisioner-config.toml
  deployment/values-release.yaml
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: ingress
  backend/provisioner/service.go
  charts/ftl/templates/ingress.yaml
  charts/ftl/templates/provisioner-services.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Justfile
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

feat: add helm charts for provisioner (#3133)
  backend/provisioner/service.go
  charts/ftl/templates/_helpers.tpl
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/ingress.yaml
  charts/ftl/templates/provisioner-services.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.provisioner.test
  deployment/Justfile
  deployment/ftl-provisioner-config.toml
  deployment/values-release.yaml
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

chore: use provisioner for kube tests
  internal/integration/actions.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: use provisioner for kube tests (#3134)
  internal/integration/actions.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: Drop verb client interfaces (#3110)
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbType.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClient.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientDefinition.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientEmpty.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientSink.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientSource.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/testdata/go/gomodule/server.go
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

feat: configure provisioner through ConfigMap
  Dockerfile.provisioner
  charts/ftl/templates/provisioner-config-map.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.provisioner.test
  deployment/Justfile
  deployment/ftl-provisioner-config.toml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix Dockerfile.provisioner
  Dockerfile.provisioner
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: configure provisioner through ConfigMap (#3135)
  Dockerfile.provisioner
  charts/ftl/templates/provisioner-config-map.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.provisioner.test
  deployment/Justfile
  deployment/ftl-provisioner-config.toml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

chore: remove page component and other unused code
  frontend/console/src/features/console/BottomPanel.tsx
  frontend/console/src/features/console/ConsolePage.tsx
  frontend/console/src/features/deployments/DeploymentPage.tsx
  frontend/console/src/features/deployments/DeploymentsPage.tsx
  frontend/console/src/features/logs/LogLevelBadge.tsx
  frontend/console/src/features/map/Map.tsx
  frontend/console/src/features/modules/decls/VerbPanel.tsx
  frontend/console/src/features/timeline/TimelinePage.tsx
  frontend/console/src/features/traces/TraceRequestList.tsx
  frontend/console/src/features/verbs/VerbPage.tsx
  frontend/console/src/layout/Page.tsx
  frontend/console/src/layout/index.ts
Owners: @TBD54566975/ftl-frontend-team

chore: remove page component and other unused code (#3138)
  frontend/console/src/features/console/BottomPanel.tsx
  frontend/console/src/features/console/ConsolePage.tsx
  frontend/console/src/features/deployments/DeploymentPage.tsx
  frontend/console/src/features/deployments/DeploymentsPage.tsx
  frontend/console/src/features/logs/LogLevelBadge.tsx
  frontend/console/src/features/map/Map.tsx
  frontend/console/src/features/modules/decls/VerbPanel.tsx
  frontend/console/src/features/timeline/TimelinePage.tsx
  frontend/console/src/features/traces/TraceRequestList.tsx
  frontend/console/src/features/verbs/VerbPage.tsx
  frontend/console/src/layout/Page.tsx
  frontend/console/src/layout/index.ts
Owners: @TBD54566975/ftl-frontend-team

retrieve latest tagged release
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: WIP smoke test upgrade path
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add placeholder smoketest module
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

go test smoketest
  .github/workflows/ci.yml
  internal/integration/actions.go
  internal/integration/harness.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas
