Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

fix: handle lease failure better
  backend/controller/scaling/localscaling/local_scaling.go
  backend/controller/scaling/scaling.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add references to decl pages in console (#3223)
  backend/controller/console/console.go
  backend/protos/xyz/block/ftl/v1/console/console.pb.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
  frontend/console/src/features/modules/decls/ConfigPanel.tsx
  frontend/console/src/features/modules/decls/DataPanel.tsx
  frontend/console/src/features/modules/decls/DatabasePanel.tsx
  frontend/console/src/features/modules/decls/DeclPanel.tsx
  frontend/console/src/features/modules/decls/EnumPanel.tsx
  frontend/console/src/features/modules/decls/References.tsx
  frontend/console/src/features/modules/decls/SecretPanel.tsx
  frontend/console/src/features/modules/decls/SubscriptionPanel.tsx
  frontend/console/src/features/modules/decls/TopicPanel.tsx
  frontend/console/src/features/modules/decls/TypeAliasPanel.tsx
  frontend/console/src/features/modules/module.utils.ts
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: remove dead error handling (#3226)
  internal/integration/actions.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: do not use remote endpoint for deploy’s bind allocator (#3224)
  frontend/cli/cmd_deploy.go
Owners: @TBD54566975/ftl-frontend-team

fix: JVM method names cannot be keywords (#3211)
  examples/java/echo/src/main/java/ftl/echo/Echo.java
  examples/kotlin/echo/src/main/kotlin/ftl/echo/Echo.kt
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: `ftl diff` no longer needs language plugins for schemas (#3230)
  frontend/cli/cmd_schema_diff.go
Owners: @TBD54566975/ftl-frontend-team

fix: interactive console --help runs command (#3228)
  internal/terminal/interactive.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: prevent topic_events being deleted if there is a subscription referencing it (#3227)
  backend/controller/sql/schema/20241029015638_subscription_cursor.sql
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: language plugin logs have named scope and are parsed as json (#3229)
  frontend/cli/cmd_new.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_integration_test.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  python-runtime/cmd/ftl-language-python/main.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

fix: reduce spammy logs for pings (#3150)
  common/plugin/spawn.go
  frontend/cli/cmd_bench.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_call.go
  frontend/cli/cmd_ping.go
  frontend/cli/cmd_replay.go
  frontend/cli/cmd_serve.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

move using artifact service interface instead of implementations
  backend/controller/artefacts/artefact.go
  backend/controller/artefacts/dal_registry.go
  backend/controller/artefacts/hybrid_registry.go
  backend/controller/artefacts/oci_registry.go
  backend/controller/controller.go
  backend/controller/cronjobs/internal/cronjobs_test.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/timeline/internal/timeline_test.go
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

Revert "revert: "fix: reduce spammy logs for pings" (#3243)"
  common/plugin/spawn.go
  frontend/cli/cmd_bench.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_call.go
  frontend/cli/cmd_ping.go
  frontend/cli/cmd_replay.go
  frontend/cli/cmd_serve.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: Add index to async_table to speed up lease deletions (#3235)
  backend/controller/sql/schema/20241029142130_add_index_to_async_calls.sql
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: populate task resources as deployment progresses (#3232)
  backend/provisioner/deployment.go
  backend/provisioner/deployment_test.go
  backend/provisioner/registry.go
  backend/provisioner/resource_graph.go
  backend/provisioner/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: hide unexported decls in console by default and provide a toggle to show (#3236)
  frontend/console/e2e/helpers.ts
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: typos in python runtime (#3195)
  Justfile
  python-runtime/python-plugin/service.go
  python-runtime/scaffolding/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: fallback to asm secret provider in cluster (#3242)
  backend/controller/controller.go
  internal/configuration/manager/manager.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: handle selectedDecl edge case in console's module tree (#3238)
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

fix: improve cron deletion (#3234)
  backend/controller/cronjobs/internal/sql/queries.sql
  backend/controller/cronjobs/internal/sql/queries.sql.go
  backend/controller/dal/internal/sql/queries.sql.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

resolving merge conflicts
  backend/controller/controller.go
  backend/controller/cronjobs/internal/cronjobs_test.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal_test.go
  backend/controller/pubsub/integration_test.go
  backend/controller/pubsub/service.go
  backend/controller/timeline/internal/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: add go.mod to ignore python (#3244)
  python-runtime/scaffolding/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

revert: "fix: reduce spammy logs for pings" (#3243)
  common/plugin/spawn.go
  frontend/cli/cmd_bench.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_call.go
  frontend/cli/cmd_ping.go
  frontend/cli/cmd_replay.go
  frontend/cli/cmd_serve.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

resolving merge conflicts
  backend/controller/timeline/internal/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: only start localstack if required
  Justfile
  backend/controller/encryption/integration_test.go
  docker-compose.yml
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: clean up bind allocator without controller port (#3233)
  frontend/cli/bind.go
  frontend/cli/bind_test.go
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_build.go
  frontend/cli/cmd_deploy.go
  frontend/cli/cmd_new.go
Owners: @TBD54566975/ftl-frontend-team

revert: Revert "revert: "fix: reduce spammy logs for pings"" (#3249)
  common/plugin/spawn.go
  frontend/cli/cmd_bench.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_call.go
  frontend/cli/cmd_ping.go
  frontend/cli/cmd_replay.go
  frontend/cli/cmd_serve.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

ci: CI uses build/release for language plugins
  .github/workflows/ci.yml
  Justfile
  scripts/ftl-language-python
Owners: @TBD54566975/ftl-reviewers, @alecthomas

ci: CI uses build/release for language plugins (#3247)
  .github/workflows/ci.yml
  Justfile
  scripts/ftl-language-python
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: support deleting all resources from a stack
  cmd/ftl-provisioner-cloudformation/provisioner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: only start localstack when required (#3246)
  Justfile
  backend/controller/encryption/integration_test.go
  docker-compose.yml
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: correctly record event times
  Justfile
  backend/controller/timeline/events_call.go
  backend/controller/timeline/events_cron.go
  backend/controller/timeline/events_ingress.go
  backend/controller/timeline/events_log.go
  backend/controller/timeline/timeline.go
  examples/go/time/go.mod
  examples/go/time/go.sum
  examples/go/time/time.go
  examples/go/time/types.ftl.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: correctly record event times (#3254)
  Justfile
  backend/controller/timeline/events_call.go
  backend/controller/timeline/events_cron.go
  backend/controller/timeline/events_ingress.go
  backend/controller/timeline/events_log.go
  backend/controller/timeline/timeline.go
  examples/go/time/go.mod
  examples/go/time/go.sum
  examples/go/time/time.go
  examples/go/time/types.ftl.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: WIP smoke test upgrade path
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

go test smoketest
  .github/workflows/ci.yml
  internal/integration/actions.go
  internal/integration/harness.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

retrieve latest tagged release
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

upload smoke-test-upgrade report artifact
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

logging and handling to find script error
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add placeholder smoketest module
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

run previous exemplar on current HEAD
  .github/workflows/ci.yml
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

use envar to conditionally run smoke test with kube
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
