Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

chore: add e2e tests for call and ingress requests (#3038)
  backend/controller/ingress/request.go
  frontend/console/e2e/echo.spec.ts
  frontend/console/e2e/helpers.ts
  frontend/console/e2e/ingress-http.spec.ts
  frontend/console/e2e/module.spec.ts
  frontend/console/e2e/verb.spec.ts
  frontend/console/src/components/CodeEditor.tsx
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/verbs/VerbFormInput.tsx
  frontend/console/src/features/verbs/VerbRequestForm.tsx
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

artefact discovery exposed to the cli
  backend/controller/artefacts/dal_registry.go
  backend/controller/artefacts/oci_registry.go
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

lint
  go-runtime/compile/build.go
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-go-team, @TBD54566975/ftl-reviewers, @alecthomas

chore: remove Error and Deploy from ModuleConfig
  frontend/cli/cmd_box.go
  go-runtime/compile/build.go
  internal/buildengine/build.go
  internal/buildengine/deploy.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/buildengine/module.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team, @TBD54566975/ftl-reviewers, @alecthomas

fix tests
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

completed oci Registry implementation
  backend/controller/artefacts/oci_registry.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: remove Error and Deploy from ModuleConfig (#3033)
  frontend/cli/cmd_box.go
  go-runtime/compile/build.go
  internal/buildengine/build.go
  internal/buildengine/deploy.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/buildengine/module.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team, @TBD54566975/ftl-reviewers, @alecthomas

chore: replace custom test fixture with global setup
  frontend/console/e2e/echo.spec.ts
  frontend/console/e2e/events.spec.ts
  frontend/console/e2e/ftl-test.ts
  frontend/console/e2e/global-setup.ts
  frontend/console/e2e/helpers.ts
  frontend/console/e2e/infrastructure.spec.ts
  frontend/console/e2e/ingress-http.spec.ts
  frontend/console/e2e/module.spec.ts
  frontend/console/e2e/modules.spec.ts
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

Default to "new" command handler for options
  frontend/cli/cmd_new.go
Owners: @TBD54566975/ftl-frontend-team

fix cli spec
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-frontend-team

cleanups, tests pass
  backend/controller/controller.go
  internal/identity/certificate.go
  internal/identity/identity.go
  internal/identity/identity_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

handle err
  backend/controller/identity/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fixes/suggestions from last pr, rename Store to Wallet
  backend/controller/identity/service.go
  backend/runner/runner.go
  internal/identity/identity.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: Default to "new" command handler for options (#3043)
  frontend/cli/cmd_new.go
Owners: @TBD54566975/ftl-frontend-team

cleanups
  backend/runner/runner.go
  internal/identity/certificate.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

cleanups
  backend/controller/identity/identity_test.go
  internal/identity/api.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

shift external port for registry to avoid conflict
  backend/controller/artefacts/oci_registry.go
  docker-compose.yml
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: add target to deploy released image
  bin/.kustomize-5.4.3.pkg
  bin/kustomize
  deployment/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: just dev build loop (#3034)
  Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas

configure path to protos for vscode
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix typealias exceptions
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbProcessor.java
Owners: @TBD54566975/ftl-infra-team

fix accidental whitespace
  jvm-runtime/testdata/java/javaclient/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
Owners: @TBD54566975/ftl-jvm-team

refactor EnumProcessor for clarity
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
Owners: @TBD54566975/ftl-infra-team

comments
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
Owners: @TBD54566975/ftl-infra-team

fix errors
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
Owners: @TBD54566975/ftl-infra-team

comments
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
Owners: @TBD54566975/ftl-infra-team

fix: add config to prevent red squigglies when opening `.proto` files in vscode (#3048)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: query/path params only allow string
  backend/controller/ingress/ingress_integration_test.go
  backend/controller/ingress/ingress_test.go
  backend/controller/ingress/request.go
  backend/controller/ingress/testdata/go/httpingress/httpingress.go
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/TestHTTP.java
  internal/schema/validate.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: extract module resources in provisioner
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.proto
  backend/provisioner/registry.go
  backend/provisioner/service.go
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: introduce an in-memory resource graph to track dependencies between resources
  backend/provisioner/deployment.go
  backend/provisioner/deployment_test.go
  backend/provisioner/registry.go
  backend/provisioner/resource_graph.go
  backend/provisioner/resource_graph_test.go
  backend/provisioner/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: add module provider
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.proto
  backend/provisioner/controller_provisioner.go
  backend/provisioner/dev/dev_provisioner.go
  backend/provisioner/dev_provisioner.go
  backend/provisioner/inmem_provisioner.go
  backend/provisioner/noop/noop_provisioner.go
  backend/provisioner/noop_provisioner.go
  backend/provisioner/provisioner_integration_test.go
  backend/provisioner/registry.go
  backend/provisioner/resource_equality_test.go
  backend/provisioner/resource_graph.go
  backend/provisioner/resource_graph_test.go
  backend/provisioner/resource_type.go
  backend/provisioner/service.go
  cmd/ftl-provisioner/main.go
  frontend/cli/cmd_serve.go
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

Don't produce decls for type aliases in other modules
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TypeAliasProcessor.java
Owners: @TBD54566975/ftl-infra-team

fix integration tests
  jvm-runtime/jvm_integration_test.go
Owners: @TBD54566975/ftl-jvm-team

cleanup
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
Owners: @TBD54566975/ftl-infra-team

replace deprecated `logging` exporter
  otel-local-config.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: replace custom test fixture with global setup (#3039)
  frontend/console/e2e/echo.spec.ts
  frontend/console/e2e/events.spec.ts
  frontend/console/e2e/ftl-test.ts
  frontend/console/e2e/global-setup.ts
  frontend/console/e2e/helpers.ts
  frontend/console/e2e/infrastructure.spec.ts
  frontend/console/e2e/ingress-http.spec.ts
  frontend/console/e2e/module.spec.ts
  frontend/console/e2e/modules.spec.ts
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

fix: query/path params only allow string (#3049)
  backend/controller/ingress/ingress_integration_test.go
  backend/controller/ingress/ingress_test.go
  backend/controller/ingress/request.go
  backend/controller/ingress/testdata/go/httpingress/httpingress.go
  backend/controller/ingress/testdata/java/httpingress/src/main/java/xyz/block/ftl/java/test/http/TestHTTP.java
  internal/schema/validate.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: use int query param for age in http
  examples/go/http/http.go
  frontend/console/e2e/ingress-http.spec.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: replace deprecated `logging` exporter (#3052)
  otel-local-config.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: use int query param for age in http (#3053)
  examples/go/http/http.go
  frontend/console/e2e/ingress-http.spec.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
