Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team

fix: reduce spammy logs for pings
  common/plugin/spawn.go
  frontend/cli/cmd_bench.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_call.go
  frontend/cli/cmd_ping.go
  frontend/cli/cmd_replay.go
  frontend/cli/cmd_serve.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

add build lock
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/moduleconfig/moduleconfig.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

update comment re usage of lock files
  internal/buildengine/build.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

update tests
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint
  frontend/cli/cmd_ping.go
Owners: @TBD54566975/ftl-frontend-team

fix: specify IAM role for the provisioner
  charts/ftl/templates/provisioner-role.yaml
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: language plugins own build locks (#3151)
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  internal/buildengine/build.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: plugin improvements (stub generation, clean up)
  examples/go/time/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix tests
  examples/go/time/go.mod
  examples/go/time/go.sum
  internal/buildengine/languageplugin/external_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add build lock
  go-runtime/goplugin/service.go
  internal/buildengine/languageplugin/external_integration_test.go
Owners: @TBD54566975/ftl-go-team, @TBD54566975/ftl-reviewers, @alecthomas

kill plugins
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: specify IAM role for the provisioner (#3152)
  charts/ftl/templates/provisioner-role.yaml
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: allow provisioner to get its config map
  charts/ftl/templates/provisioner-role.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: allow provisioner to get its config map
  charts/ftl/templates/provisioner-role.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: support ftl.Map on injected resources
  backend/controller/sql/database_integration_test.go
  backend/controller/sql/testdata/go/database/database.go
  backend/controller/sql/testdata/go/database/types.ftl.go
  examples/go/time/go.mod
  examples/go/time/go.sum
  go-runtime/compile/build-template/.ftl.tmpl/go/main/main.go.tmpl
  go-runtime/compile/build-template/types.ftl.go.tmpl
  go-runtime/compile/build.go
  go-runtime/ftl/map.go
  go-runtime/schema/common/fact.go
  go-runtime/schema/extract.go
  go-runtime/schema/finalize/analyzer.go
  go-runtime/schema/schema_test.go
  go-runtime/schema/testdata/two/two.go
  go-runtime/schema/testdata/two/types.ftl.go
  go-runtime/schema/verb/analyzer.go
  go-runtime/server/map.go
  go-runtime/server/server.go
  go-runtime/server/verb.go
  internal/schema/validate.go
  internal/schema/verb.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-go-team

Do not accept build context update calls if there is no way to send a result
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  go-runtime/goplugin/service.go
  internal/buildengine/languageplugin/external_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team

fix: use the correct namespace for the default provisioner configmap
  charts/ftl/templates/provisioner-config-map.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: use the correct namespace for the default provisioner configmap (#3155)
  charts/ftl/templates/provisioner-config-map.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_serve.go
  go-runtime/cmd/ftl-language-go.go
  go-runtime/goplugin/log_to_stream.go
  go-runtime/goplugin/service.go
  internal/buildengine/engine_test.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team, @TBD54566975/ftl-reviewers, @alecthomas

increase plugin lanuch time for CI?
  internal/buildengine/languageplugin/external_plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: backoff for provisioning status checks
  backend/provisioner/deployment.go
  backend/provisioner/deployment_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: backoff for provisioning status checks (#3157)
  backend/provisioner/deployment.go
  backend/provisioner/deployment_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: always start a provisioner task, even if there are no changes. This allows us to return any previously created outputs in case the provisioner needs to recreate the resource graph
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.proto
  backend/provisioner/deployment.go
  backend/provisioner/inmem_provisioner.go
  backend/provisioner/noop_provisioner.go
  cmd/devel-provisioner/main.go
  cmd/ftl-provisioner-cloudformation/provisioner.go
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/plugin_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: always start a provisioner task, even if there are no changes. (#3158)
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.proto
  backend/provisioner/deployment.go
  backend/provisioner/inmem_provisioner.go
  backend/provisioner/noop_provisioner.go
  cmd/devel-provisioner/main.go
  cmd/ftl-provisioner-cloudformation/provisioner.go
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/plugin_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: segfault when creating new databases with cf provider
  cmd/ftl-provisioner-cloudformation/status.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: segfault when creating new databases with cf provider (#3159)
  cmd/ftl-provisioner-cloudformation/status.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

implement enums in Kotlin
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/TestInvokeGoFromKotlin.kt
  jvm-runtime/testdata/kotlin/kotlinserver/ftl.toml
  jvm-runtime/testdata/kotlin/kotlinserver/pom.xml
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Animal.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/AnimalWrapper.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Cat.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ColorInt.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ColorWrapper.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Dog.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ScalarOrList.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ScalarWrapper.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Shape.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ShapeWrapper.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Verbs.kt
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

style
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
Owners: @TBD54566975/ftl-infra-team

style ick
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
Owners: @TBD54566975/ftl-infra-team

style
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
Owners: @TBD54566975/ftl-infra-team

style
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
Owners: @TBD54566975/ftl-infra-team

fix: reporting call and ingress event errors
  backend/controller/controller.go
  backend/controller/ingress/handler.go
  backend/controller/timeline/events_ingress.go
  backend/controller/timeline/internal/timeline_test.go
  frontend/console/src/features/timeline/timeline.utils.ts
  frontend/console/src/features/traces/TraceRequestList.tsx
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: reporting call and ingress event errors (#3161)
  backend/controller/controller.go
  backend/controller/ingress/handler.go
  backend/controller/timeline/events_ingress.go
  backend/controller/timeline/internal/timeline_test.go
  frontend/console/src/features/timeline/timeline.utils.ts
  frontend/console/src/features/traces/TraceRequestList.tsx
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: istio sidecar config
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: Enums in Kotlin (#3160)
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/TestInvokeGoFromKotlin.kt
  jvm-runtime/testdata/kotlin/kotlinserver/ftl.toml
  jvm-runtime/testdata/kotlin/kotlinserver/pom.xml
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Animal.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/AnimalWrapper.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Cat.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ColorInt.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ColorWrapper.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Dog.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ScalarOrList.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ScalarWrapper.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Shape.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/ShapeWrapper.kt
  jvm-runtime/testdata/kotlin/kotlinserver/src/main/kotlin/xyz/block/ftl/test/Verbs.kt
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: istio sidecar config (#3167)
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

Revert "feat: configure provisioner through ConfigMap (#3135)"
  Dockerfile.provisioner
  charts/ftl/templates/provisioner-config-map.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.provisioner.test
  deployment/Justfile
  deployment/ftl-provisioner-config.toml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

Revert "feat: add helm charts for provisioner (#3133)"
  backend/provisioner/service.go
  charts/ftl/templates/_helpers.tpl
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/ingress.yaml
  charts/ftl/templates/provisioner-services.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.provisioner.test
  deployment/Justfile
  deployment/ftl-provisioner-config.toml
  deployment/values-release.yaml
  deployment/values.yaml
  ftl-provisioner-config.toml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

Revert "chore: use provisioner for kube tests (#3134)"
  internal/integration/actions.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas
