Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

Revert "feat: add k3d ingress (#3128)"
  charts/ftl/templates/ingress.yaml
  charts/ftl/values.yaml
  deployment/Justfile
  deployment/values-release.yaml
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

lint
  frontend/cli/cmd_ping.go
Owners: @TBD54566975/ftl-frontend-team

fix: reduce spammy logs for pings
  common/plugin/spawn.go
  frontend/cli/cmd_bench.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_call.go
  frontend/cli/cmd_ping.go
  frontend/cli/cmd_replay.go
  frontend/cli/cmd_serve.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: improve kube pod dump
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: improve kube pod dump (#3170)
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

refactor: buildengine publishes clearer state events
  frontend/cli/cmd_dev.go
  internal/buildengine/engine.go
  internal/buildengine/terminal.go
  internal/lsp/lsp.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

rename and make raw event not a type of engine event
  frontend/cli/cmd_dev.go
  internal/buildengine/engine.go
  internal/buildengine/terminal.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

lint
  internal/buildengine/engine.go
  internal/buildengine/terminal.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint
  internal/lsp/lsp.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

rename func
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

remove more code
  internal/lsp/lsp.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: wait for provisioner
  .github/workflows/ci.yml
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/provisioner/service.go
  deployment/Justfile
  deployment/values.yaml
  frontend/cli/main.go
  internal/integration/actions.go
  internal/terminal/interactive.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-frontend-team

testing
  charts/ftl/templates/ingress.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

resource limits
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/runner.yaml
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

remove remaining terminal usage in engine
  internal/buildengine/engine.go
  internal/buildengine/terminal.go
  internal/lsp/lsp.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

refactor: buildengine publishes clearer state events (#3168)
  frontend/cli/cmd_dev.go
  internal/buildengine/engine.go
  internal/buildengine/terminal.go
  internal/lsp/lsp.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

tmp
  charts/ftl/values.yaml
  deployment/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

feat: rebuild modules when they fail due to dep changes
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

tmp
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: rebuild modules when they fail due to dep changes (#3173)
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

tmp
  deployment/Justfile
Owners: @TBD54566975/ftl-infra-team

tmp
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: update Attribute badge styling
  frontend/console/src/components/AttributeBadge.test.tsx
  frontend/console/src/components/AttributeBadge.tsx
  frontend/console/src/components/List.tsx
  frontend/console/src/features/infrastructure/DeploymentsList.tsx
  frontend/console/src/features/infrastructure/RunnersList.tsx
  frontend/console/src/features/modules/ModulesPanel.tsx
  frontend/console/src/features/timeline/details/TimelineCallDetails.tsx
  frontend/console/src/features/timeline/details/TimelineCronScheduledDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDeploymentCreatedDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDeploymentUpdatedDetails.tsx
  frontend/console/src/features/timeline/details/TimelineIngressDetails.tsx
  frontend/console/src/features/timeline/details/TimelineLogDetails.tsx
  frontend/console/src/features/traces/details/TraceDetailsCall.tsx
  frontend/console/src/features/traces/details/TraceDetailsIngress.tsx
Owners: @TBD54566975/ftl-frontend-team

tmp
  deployment/Dockerfile.runner.test
Owners: @TBD54566975/ftl-infra-team

fix: remove double log message when starting a build
  internal/buildengine/build.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: remove java from the kube tests
  deployment/Dockerfile.runner.test
Owners: @TBD54566975/ftl-infra-team

fix: remove double log message when starting a build (#3174)
  internal/buildengine/build.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

tmp
  .github/workflows/ci.yml
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

feat: update Attribute badge styling (#3172)
  frontend/console/src/components/AttributeBadge.test.tsx
  frontend/console/src/components/AttributeBadge.tsx
  frontend/console/src/components/List.tsx
  frontend/console/src/features/infrastructure/DeploymentsList.tsx
  frontend/console/src/features/infrastructure/RunnersList.tsx
  frontend/console/src/features/modules/ModulesPanel.tsx
  frontend/console/src/features/timeline/details/TimelineCallDetails.tsx
  frontend/console/src/features/timeline/details/TimelineCronScheduledDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDeploymentCreatedDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDeploymentUpdatedDetails.tsx
  frontend/console/src/features/timeline/details/TimelineIngressDetails.tsx
  frontend/console/src/features/timeline/details/TimelineLogDetails.tsx
  frontend/console/src/features/traces/details/TraceDetailsCall.tsx
  frontend/console/src/features/traces/details/TraceDetailsIngress.tsx
Owners: @TBD54566975/ftl-frontend-team

chore: remove java from the kube tests (#3175)
  deployment/Dockerfile.runner.test
Owners: @TBD54566975/ftl-infra-team

fix: add kube resource limits
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/runner.yaml
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: add kube resource limits (#3171)
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/runner.yaml
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: add istio policy before deployment
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: kube RBAC test errors
  backend/controller/scaling/kube_scaling_integration_test.go
  backend/runner/runner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add JVM to kube tests
  deployment/Dockerfile.runner.test
Owners: @TBD54566975/ftl-infra-team

feat: add JVM to kube tests (#3178)
  deployment/Dockerfile.runner.test
Owners: @TBD54566975/ftl-infra-team

fix: pass in bind allocator to build engine
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_build.go
  frontend/cli/cmd_deploy.go
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_serve.go
  internal/buildengine/engine_test.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

remove todo
  frontend/cli/cmd_box.go
Owners: @TBD54566975/ftl-frontend-team

fix build engine creation
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: pass in bind allocator to build engine (#3179)
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_build.go
  frontend/cli/cmd_deploy.go
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_serve.go
  internal/buildengine/engine.go
  internal/buildengine/engine_test.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
