Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

chore: fix shellcheck warnings (#3025)
  scripts/ftl
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: decrease parallelism for e2e tests
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

chore(ci): ensure "just lint-scripts" exits with a non-zero status (#3026)
  Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: prune docker images
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: prune docker images (#3023)
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: flaky watch tests
  internal/watch/watch_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: flaky watch tests (#3027)
  internal/watch/watch_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: Improve local subscriptions
  backend/controller/pubsub/testdata/java/publisher/src/main/java/xyz/block/ftl/java/test/publisher/Publisher.java
  docs/content/docs/reference/pubsub.md
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/FTLDotNames.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionMetaAnnotationsBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/Subscription.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: `ftl schema get` was not exiting
  frontend/cli/cmd_schema_get.go
Owners: @TBD54566975/ftl-frontend-team

fix: `ftl schema get` was not exiting (#3030)
  frontend/cli/cmd_schema_get.go
Owners: @TBD54566975/ftl-frontend-team

wip
  backend/controller/controller.go
  backend/controller/identity/service.go
  backend/protos/xyz/block/ftl/v1/identity/identity.pb.go
  backend/protos/xyz/block/ftl/v1/identity/identity.proto
  backend/runner/runner.go
  frontend/console/src/protos/xyz/block/ftl/v1/identity/identity_pb.ts
  internal/identity/api.go
  internal/identity/certificate.go
  internal/identity/identity.go
  internal/identity/identity_test.go
  internal/identity/sign.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: schema diff missing output
  frontend/cli/cmd_schema_diff.go
Owners: @TBD54566975/ftl-frontend-team

fix: schema diff missing output (#3032)
  frontend/cli/cmd_schema_diff.go
Owners: @TBD54566975/ftl-frontend-team

feat: move language specific logic out of moduleconfig
  backend/controller/admin/local_client.go
  examples/go/time/ftl.toml
  frontend/cli/cmd_new.go
  frontend/cli/cmd_schema_diff.go
  go-runtime/compile/build.go
  go.mod
  go.sum
  internal/buildengine/build.go
  internal/buildengine/deps.go
  internal/buildengine/deps_test.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/go_plugin_helpers.go
  internal/buildengine/languageplugin/go_plugin_integration_test.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/buildengine/languageplugin/testdata/imports.go
  internal/buildengine/module.go
  internal/buildengine/testdata/alpha/ftl.toml
  internal/lsp/lsp.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
  internal/watch/discover.go
  internal/watch/discover_test.go
  internal/watch/watch.go
  internal/watch/watch_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team

clean up tests
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/testdata/alphakotlin/src/main/kotlin/ftl/alpha/Alpha.kt
  internal/buildengine/languageplugin/testdata/echokotlin/ftl.toml
  internal/buildengine/languageplugin/testdata/echokotlin/pom.xml
  internal/buildengine/languageplugin/testdata/echokotlin/src/main/kotlin/ftl/echo/Echo.kt
  internal/buildengine/languageplugin/testdata/externalkotlin/ftl.toml
  internal/buildengine/languageplugin/testdata/externalkotlin/pom.xml
  internal/buildengine/languageplugin/testdata/externalkotlin/src/main/kotlin/ftl/externalkotlin/ExternalKotlin.kt
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
  internal/watch/discover_test.go
  internal/watch/testdata/depcycle1/depcycle1.go
  internal/watch/testdata/depcycle1/ftl.toml
  internal/watch/testdata/depcycle1/go.mod
  internal/watch/testdata/depcycle2/depcycle2.go
  internal/watch/testdata/depcycle2/ftl.toml
  internal/watch/testdata/depcycle2/go.mod
  internal/watch/testdata/echokotlin/ftl.toml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix test with relative path
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/go_plugin_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add docs
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  internal/moduleconfig/moduleconfig.go
  internal/watch/discover.go
  internal/watch/watch_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

rename DefaultAndValidate func
  backend/controller/admin/local_client.go
  frontend/cli/cmd_schema_diff.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix disk schema retreiver
  backend/controller/admin/local_client.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix moved relative paths to testdata
  internal/buildengine/languageplugin/go_plugin_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix panic on early exit
  backend/controller/admin/local_client.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix lint
  backend/controller/admin/local_client.go
  frontend/cli/cmd_schema_diff.go
  go-runtime/compile/build.go
  internal/buildengine/languageplugin/go_plugin_helpers.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team

do not check ordering of watch list
  internal/buildengine/languageplugin/go_plugin_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix diff
  frontend/cli/cmd_schema_diff.go
Owners: @TBD54566975/ftl-frontend-team

fix TestGeneratedTypeRegistry
  internal/buildengine/languageplugin/testdata/type_registry_main.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix schema diff
  backend/controller/admin/local_client.go
  frontend/cli/cmd_schema_diff.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

Serialise/deserialize type enums
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/FTLRecorder.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/JsonSerializationConfig.java
  jvm-runtime/ftl-runtime/common/runtime/src/test/java/xyz/block/ftl/runtime/Animal.java
  jvm-runtime/ftl-runtime/common/runtime/src/test/java/xyz/block/ftl/runtime/Cat.java
  jvm-runtime/ftl-runtime/common/runtime/src/test/java/xyz/block/ftl/runtime/ColorInt.java
  jvm-runtime/ftl-runtime/common/runtime/src/test/java/xyz/block/ftl/runtime/Dog.java
  jvm-runtime/ftl-runtime/common/runtime/src/test/java/xyz/block/ftl/runtime/JsonSerializationConfigTest.java
  jvm-runtime/ftl-runtime/common/runtime/src/test/java/xyz/block/ftl/runtime/Shape.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/testdata/go/gomodule/server.go
  jvm-runtime/testdata/java/javaclient/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

update integration tests
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/java/javaclient/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
Owners: @TBD54566975/ftl-jvm-team

fix merge mistakes
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TypeAliasProcessor.java
Owners: @TBD54566975/ftl-infra-team

feat: package map metadata
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  internal/buildengine/plugin_java.go
  internal/schema/data.go
  internal/schema/jsonschema.go
  internal/schema/metadatapackagemap.go
  internal/schema/module.go
  internal/schema/parser.go
  internal/schema/protobuf_dec.go
  internal/schema/protobuf_enc.go
  internal/schema/schema_test.go
  internal/schema/validate.go
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/JVMCodeGenerator.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-infra-team

revert whitespace
  internal/lsp/hoveritems.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

whitespace
  internal/lsp/hoveritems.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: just dev build loop
  Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas

whitespace
  internal/lsp/hoveritems.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: unused file
  buildengine/testdata/another/types.ftl.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: unused file (#3035)
  buildengine/testdata/another/types.ftl.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: decrease parallelism for e2e tests (#3024)
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

chore: make renovate ignore @bufbuild/protoc-gen-es
  renovate.json5
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: make renovate ignore @bufbuild/protoc-gen-es (#3036)
  renovate.json5
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: add e2e tests for call and ingress requests
  backend/controller/ingress/request.go
  frontend/console/e2e/echo.spec.ts
  frontend/console/e2e/helpers.ts
  frontend/console/e2e/ingress-http.spec.ts
  frontend/console/e2e/module.spec.ts
  frontend/console/e2e/verb.spec.ts
  frontend/console/src/components/CodeEditor.tsx
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/verbs/VerbFormInput.tsx
  frontend/console/src/features/verbs/VerbRequestForm.tsx
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
