Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team

fix: kube test failures (#2987)
  backend/controller/controller.go
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/controller/scaling/k8sscaling/k8s_scaling.go
  backend/controller/scaling/kube_scaling_integration_test.go
  deployment/base/ftl-controller/deployment-config.yaml
  deployment/base/ftl-controller/ftl-controller.yml
  internal/log/plain.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

feat: capture schema element locations
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/HTTPProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/PositionUtils.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsProcessor.java
Owners: @TBD54566975/ftl-infra-team

temp
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

:)
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

chore: typo in comment (#3000)
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

fix: enum syntax highlighting
  frontend/console/src/api/modules/use-modules.ts
  frontend/console/src/api/schema/use-schema.ts
  frontend/console/src/features/modules/schema/Schema.tsx
Owners: @TBD54566975/ftl-frontend-team

fix: enum syntax highlighting (#3001)
  frontend/console/src/api/modules/use-modules.ts
  frontend/console/src/api/schema/use-schema.ts
  frontend/console/src/features/modules/schema/Schema.tsx
Owners: @TBD54566975/ftl-frontend-team

refactor: move verb export check to before req body validation (#2995)
  backend/controller/controller.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

move function
  backend/controller/controller.go
  backend/controller/ingress/ingress.go
  backend/controller/timeline/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

refactor: move `ingress.ValidateCallBody` function (#3002)
  backend/controller/controller.go
  backend/controller/ingress/ingress.go
  backend/controller/timeline/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

publishing artifacts from a memory to registry
  backend/controller/artefacts/oci_registry.go
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: capture schema element locations (#2998)
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/HTTPProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/PositionUtils.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsProcessor.java
Owners: @TBD54566975/ftl-infra-team

chore: pubsub docs for JVM (#2996)
  backend/controller/pubsub/testdata/java/subscriber/src/main/java/xyz/block/ftl/java/test/subscriber/Subscriber.java
  docs/content/docs/reference/externaltypes.md
  docs/content/docs/reference/pubsub.md
  docs/content/docs/reference/verbs.md
  internal/lsp/hoveritems.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: use ftl serve config with dev provisioner
  backend/provisioner/deployment.go
  backend/provisioner/dev/dev_provisioner.go
  backend/provisioner/provisioner_integration_test.go
  backend/provisioner/registry.go
  backend/provisioner/service.go
  cmd/ftl-provisioner/main.go
  frontend/cli/cmd_serve.go
  internal/dev/db.go
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: use grpc errors when a provisioner fails to provision
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.proto
  backend/provisioner/deployment.go
  backend/provisioner/dev/dev_provisioner.go
  cmd/devel-provisioner/main.go
  cmd/ftl-provisioner-cloudformation/status.go
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/plugin_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: dev provisioner for postgres (#2967)
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/plugin.proto
  backend/provisioner/deployment.go
  backend/provisioner/deployment/deployment_test.go
  backend/provisioner/deployment/noop_provisioner.go
  backend/provisioner/deployment/plugin_provisioner.go
  backend/provisioner/deployment_test.go
  backend/provisioner/dev/dev_provisioner.go
  backend/provisioner/noop/noop_provisioner.go
  backend/provisioner/provisioner_integration_test.go
  backend/provisioner/registry.go
  backend/provisioner/service.go
  cmd/devel-provisioner/main.go
  cmd/ftl-provisioner-cloudformation/status.go
  cmd/ftl-provisioner/main.go
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_serve.go
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/plugin_pb.ts
  internal/dev/db.go
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-frontend-team

fix: the default provisioner port is 8893
  frontend/cli/main.go
Owners: @TBD54566975/ftl-frontend-team

fix: the default provisioner port is 8893 (#3007)
  frontend/cli/main.go
Owners: @TBD54566975/ftl-frontend-team

fix: emty replace flag is allowed in `ftl new go`
  internal/buildengine/plugin_go.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: when running with --provisioners=1, use provisioner to do deployments with ftl dev
  backend/provisioner/service.go
  frontend/cli/cmd_dev.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: emty replace flag is allowed in `ftl new go` (#3010)
  internal/buildengine/plugin_go.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: remove some unused Hermit packages
  bin/.pre-commit-3.8.0.pkg
  bin/.scc-3.1.0.pkg
  bin/pre-commit
  bin/scc
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: remove some unused Hermit packages (#3015)
  bin/.pre-commit-3.8.0.pkg
  bin/.scc-3.1.0.pkg
  bin/pre-commit
  bin/scc
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add http examples
  examples/go/http/ftl.toml
  examples/go/http/go.mod
  examples/go/http/go.sum
  examples/go/http/http.go
  examples/go/http/types.ftl.go
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: add http examples (#3003)
  examples/go/http/ftl.toml
  examples/go/http/go.mod
  examples/go/http/go.sum
  examples/go/http/http.go
  examples/go/http/types.ftl.go
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

move add selected
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

cleanup
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: module tree expansion state when closing the module of the selected decl (#3022)
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

wip: implement signing grpc service
  backend/controller/controller.go
  backend/controller/identity/identity_test.go
  backend/controller/identity/service.go
  backend/runner/runner.go
  internal/identity/certificate.go
  internal/identity/identity.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

wip
  backend/controller/controller.go
  backend/controller/identity/service.go
  backend/protos/xyz/block/ftl/v1/ftl.proto
  backend/runner/runner.go
  internal/identity/api.go
  internal/identity/certificate.go
  internal/identity/identity.go
  internal/identity/sign.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

wip
  backend/controller/controller.go
  backend/protos/xyz/block/ftl/v1/ftl.pb.go
  backend/protos/xyz/block/ftl/v1/ftl.proto
  backend/protos/xyz/block/ftl/v1/ftlv1connect/ftl.connect.go
  backend/runner/runner.go
  frontend/console/src/protos/xyz/block/ftl/v1/ftl_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/ftl_pb.ts
  internal/identity/api.go
  internal/identity/certificate.go
  internal/identity/identity.go
  internal/identity/sign.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

wip
  backend/protos/xyz/block/ftl/v1/ftl.proto
  internal/identity/certificate.go
  internal/identity/identity.go
  internal/identity/identity_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

wip: attempt to use go2proto
  Justfile
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  internal/identity/certificate.go
  internal/identity/identity.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: allow running the local scripts outside of the main FTL directory. (#3017)
  frontend/console/local.go
  scripts/ftl
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

fix: when running with --provisioners=1, use provisioner to do deployments with ftl dev (#3011)
  backend/provisioner/service.go
  frontend/cli/cmd_dev.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: add secrets / config to a verbs metadata
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  cmd/go2proto/main.go
  examples/go/http/go.mod
  examples/go/http/go.sum
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  internal/schema/data.go
  internal/schema/jsonschema.go
  internal/schema/metadataconfig.go
  internal/schema/metadatasecrets.go
  internal/schema/parser.go
  internal/schema/protobuf_dec.go
  internal/schema/protobuf_enc.go
  internal/schema/schema_test.go
  internal/schema/validate.go
  internal/schema/verb.go
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/ConfigEndpoint.java
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/ConfigEndpoint.kt
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

chore: fix shellcheck warnings
  scripts/ftl
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add secrets / config to a verbs metadata (#2999)
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  cmd/go2proto/main.go
  examples/go/http/go.mod
  examples/go/http/go.sum
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  internal/schema/data.go
  internal/schema/jsonschema.go
  internal/schema/metadataconfig.go
  internal/schema/metadatasecrets.go
  internal/schema/parser.go
  internal/schema/protobuf_dec.go
  internal/schema/protobuf_enc.go
  internal/schema/schema_test.go
  internal/schema/validate.go
  internal/schema/verb.go
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/jvm_integration_test.go
  jvm-runtime/testdata/java/javamodule/src/main/java/xyz/block/ftl/test/ConfigEndpoint.java
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/ConfigEndpoint.kt
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

wip
  Justfile
  backend/protos/xyz/block/ftl/v1/ftl.pb.go
  backend/protos/xyz/block/ftl/v1/ftl.proto
  backend/protos/xyz/block/ftl/v1/identity/identity.pb.go
  backend/protos/xyz/block/ftl/v1/identity/identity.proto
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  frontend/console/src/protos/xyz/block/ftl/v1/ftl_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/identity/identity_pb.ts
  internal/identity/api.go
  internal/identity/certificate.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore(ci): ensure "just lint-scripts" exits with a non-zero status
  Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas
