Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team

debug: run smoketests on previous commit
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

checkout exemplar from previous commit instead of whole tree
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

test against previous release, remove tmp smoke test
  .github/workflows/ci.yml
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

replace currente exemplar with latest release's exemplar
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

cleanup
  .github/workflows/ci.yml
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add smoketest workflow which checks out the tagged release and fetches released binaries
  .github/workflows/smoketest.yml
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

more apt GHA name since it doesn't test the user upgrade path
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

run tagged release cluster with released binaries
  .github/workflows/smoketest.yml
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

deploy tagged dockerhub image to kube cluster, run smoke test without full deploy
  .github/workflows/smoketest.yml
  backend/controller/scaling/kube_scaling_integration_test.go
  internal/integration/harness.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

use deployment Justfile from HEAD
  .github/workflows/smoketest.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

remove gate on java builds, enable exemplar test
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

checkout HEAD and run smoke test with kube deploy to test upgrade path
  .github/workflows/smoketest.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

simple java module to debug test timeout issue
  .github/workflows/smoketest.yml
  smoketest/exemplar_smoke_test.go
  smoketest/jecho/ftl.toml
  smoketest/jecho/pom.xml
  smoketest/jecho/src/main/java/com/example/EchoVerb.java
  smoketest/relay/relay.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: istio
  deployment/Justfile
Owners: @TBD54566975/ftl-infra-team

fix deploy-version version to match helm chart usage
  .github/workflows/smoketest.yml
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

move SKIP_KUBE_FULL_DEPLOY env to harness
  backend/controller/scaling/kube_scaling_integration_test.go
  internal/integration/harness.go
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

ingress now working, FSMNext is broken
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/echo/types.ftl.go
  smoketest/origin/origin.go
  smoketest/pulse/src/main/java/com/example/Pulse.java
  smoketest/relay/relay.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix tests
  internal/integration/harness.go
  smoketest/origin/origin.go
  smoketest/pulse/src/main/java/com/example/Pulse.java
  smoketest/relay/relay.go
  smoketest/smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

update workflow to run smoketest
  .github/workflows/ci.yml
  .github/workflows/smoketest.yml
  smoketest/exemplar_integration_test.go
  smoketest/exemplar_smoke_test.go
  smoketest/smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

adjust ingress path
  smoketest/origin/origin.go
  smoketest/smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

enable smoketest for pushes to main
  .github/workflows/smoketest.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

everything but the filter
  frontend/console/src/components/Multiselect.tsx
  frontend/console/src/features/command-pallete/CommandPalette.tsx
  frontend/console/src/features/command-pallete/command-palette.utils.ts
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/module.utils.ts
  frontend/console/src/features/modules/schema/schema.utils.ts
Owners: @TBD54566975/ftl-frontend-team

class swap
  frontend/console/src/components/Multiselect.tsx
Owners: @TBD54566975/ftl-frontend-team

chore: GHA to smoke test against last released exemplar (#2983)
  .github/workflows/smoketest.yml
  deployment/Justfile
  internal/integration/actions.go
  internal/integration/harness.go
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/echo/types.ftl.go
  smoketest/exemplar_integration_test.go
  smoketest/exemplar_smoke_test.go
  smoketest/jecho/ftl.toml
  smoketest/jecho/pom.xml
  smoketest/jecho/src/main/java/com/example/EchoVerb.java
  smoketest/origin/origin.go
  smoketest/pulse/src/main/java/com/example/Pulse.java
  smoketest/relay/relay.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

feat: console shows verb subtypes: cronjob, ingress, subscriber, all other verbs (#3256)
  frontend/console/src/components/Multiselect.tsx
  frontend/console/src/features/command-pallete/CommandPalette.tsx
  frontend/console/src/features/command-pallete/command-palette.utils.ts
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/module.utils.ts
  frontend/console/src/features/modules/schema/schema.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: console undefined bug
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

init
  frontend/console/src/features/modules/decls/DeclPanel.tsx
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: console undefined bug (#3258)
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: log database connections from go runtime
  go-runtime/ftl/database.go
Owners: @TBD54566975/ftl-go-team

fix: flaky e2e ingress test
  frontend/console/e2e/ingress-http.spec.ts
Owners: @TBD54566975/ftl-frontend-team

fix: flaky e2e ingress test (#3262)
  frontend/console/e2e/ingress-http.spec.ts
Owners: @TBD54566975/ftl-frontend-team

chore: don't build/start console unless required
  Justfile
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

tmp: experiements
  backend/protos/xyz/block/ftl/v1/contract/contract.proto
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: log database connections from go runtime (#3253)
  go-runtime/ftl/database.go
Owners: @TBD54566975/ftl-go-team

chore: attempt to improve integration test output
  internal/exec/circularbuffer.go
  internal/exec/exec.go
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: clear events when streaming starts
  frontend/console/src/api/timeline/use-timeline.ts
Owners: @TBD54566975/ftl-frontend-team

chore: don't build/start console for tests unless explicitly required (#3251)
  Justfile
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: clear events when streaming starts (#3266)
  frontend/console/src/api/timeline/use-timeline.ts
Owners: @TBD54566975/ftl-frontend-team

fix: support deleting all resources from a stack (#3252)
  cmd/ftl-provisioner-cloudformation/provisioner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: set the rds security group via env var This is a temporary solution to allow DB connectivity until we have module specific securty groups implemented
  cmd/ftl-provisioner-cloudformation/provisioner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas
