Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

feat: kill plugins as context is cancelled
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: kill plugins when FTL stops (#3180)
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: Goose support
  frontend/cli/cmd_goose.go
  frontend/cli/main.go
Owners: @TBD54566975/ftl-frontend-team

tmp
  frontend/cli/cmd_goose.go
Owners: @TBD54566975/ftl-frontend-team

init
  frontend/console/src/features/verbs/VerbPage.tsx
  frontend/console/src/features/verbs/VerbRightPanel.tsx
  frontend/console/src/features/verbs/verb.utils.ts
Owners: @TBD54566975/ftl-frontend-team

module artifacts simply stored as blobs and module artifact enumeration support dropped given this is not support
  backend/controller/artefacts/oci_registry.go
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

spacing
  frontend/console/src/features/verbs/VerbRightPanel.tsx
Owners: @TBD54566975/ftl-frontend-team

feat: show callers in console verb page (#3183)
  frontend/console/src/features/verbs/VerbPage.tsx
  frontend/console/src/features/verbs/VerbRightPanel.tsx
  frontend/console/src/features/verbs/verb.utils.ts
Owners: @TBD54566975/ftl-frontend-team

module list
  frontend/console/src/components/List.tsx
  frontend/console/src/features/modules/ModulesPanel.tsx
Owners: @TBD54566975/ftl-frontend-team

feat: save module schemas to .ftl/schemas
  backend/controller/admin/admin.go
  backend/controller/admin/admin_test.go
  backend/controller/admin/local_client.go
  backend/controller/admin/local_client_test.go
  backend/controller/controller.go
  backend/controller/dal/dal.go
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_build.go
  frontend/cli/cmd_config.go
  frontend/cli/cmd_deploy.go
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_schema_diff.go
  internal/buildengine/build.go
  internal/buildengine/deploy.go
  internal/buildengine/engine.go
  internal/buildengine/engine_test.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/moduleconfig/moduleconfig.go
  internal/projectconfig/projectconfig.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: save module schemas to .ftl/schemas (#3182)
  backend/controller/admin/admin.go
  backend/controller/admin/admin_test.go
  backend/controller/admin/local_client.go
  backend/controller/admin/local_client_test.go
  backend/controller/controller.go
  backend/controller/dal/dal.go
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_build.go
  frontend/cli/cmd_config.go
  frontend/cli/cmd_deploy.go
  frontend/cli/cmd_dev.go
  frontend/cli/cmd_schema_diff.go
  internal/buildengine/build.go
  internal/buildengine/deploy.go
  internal/buildengine/engine.go
  internal/buildengine/engine_test.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/moduleconfig/moduleconfig.go
  internal/projectconfig/projectconfig.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

temp
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

feat: plugin improvements (stub generation, clean up)
  examples/go/time/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

remove unused func
  internal/buildengine/languageplugin/external_plugin_client.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

first cut at hints
  .goosehints
Owners: @TBD54566975/ftl-reviewers, @alecthomas

clean up module killing
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

rename file
  go-runtime/cmd/cmd_languauge_plugin.go
Owners: @TBD54566975/ftl-go-team

chore: clean up handling of language plugins dying
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

decl node in tree
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

module tree module link
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

decllink
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/decls/DeclLink.tsx
Owners: @TBD54566975/ftl-frontend-team

lint
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

more hints
  .goosehints
Owners: @TBD54566975/ftl-reviewers, @alecthomas

more direction
  .goosehints
Owners: @TBD54566975/ftl-reviewers, @alecthomas

background
  .goosehints
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: recover if language plugin dies (#3185)
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: regex match to show decl schema string
  frontend/console/src/features/modules/schema/schema.utils.ts
Owners: @TBD54566975/ftl-frontend-team

another minor fix
  frontend/console/src/features/modules/decls/DeclPanel.tsx
Owners: @TBD54566975/ftl-frontend-team

check for port use
  frontend/cli/cmd_serve.go
Owners: @TBD54566975/ftl-frontend-team

test: add test suite for language plugins
  internal/buildengine/languageplugin/external_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

language should be readable by the test
  internal/integration/actions.go
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: cursed panic
  go-runtime/schema/extract.go
Owners: @TBD54566975/ftl-go-team

chore: use plugin.Start for python language plugin
  Justfile
  python-runtime/cmd/ftl-language-python.go
  python-runtime/cmd/ftl-language-python/main.go
  scripts/ftl-language-python
Owners: @TBD54566975/ftl-reviewers, @alecthomas

test
  frontend/console/e2e/helpers.ts
Owners: @TBD54566975/ftl-frontend-team

test: add test suite for language plugins (#3191)
  internal/buildengine/languageplugin/external_integration_test.go
  internal/integration/actions.go
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: regex match to show decl schema string (#3189)
  frontend/console/src/features/modules/decls/DeclPanel.tsx
  frontend/console/src/features/modules/schema/schema.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: cursed panic (#3192)
  go-runtime/schema/extract.go
Owners: @TBD54566975/ftl-go-team

feat: Goose developing FTL itself (#3188)
  .goosehints
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: use plugin.Start for python language plugin (#3193)
  Justfile
  python-runtime/cmd/ftl-language-python.go
  python-runtime/cmd/ftl-language-python/main.go
  scripts/ftl-language-python
Owners: @TBD54566975/ftl-reviewers, @alecthomas

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
