Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team

fix: set the rds security group via env var (#3269)
  cmd/ftl-provisioner-cloudformation/provisioner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: JVM OTEL metrics
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/StaticConfigSource.java
Owners: @TBD54566975/ftl-infra-team

fix: JVM OTEL metrics (#3270)
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/StaticConfigSource.java
Owners: @TBD54566975/ftl-infra-team

chore: move JVM to language plugin
  Justfile
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/integration/harness.go
  jvm-runtime/cmd/ftl-language-java/main.go
  jvm-runtime/cmd/ftl-language-kotlin/main.go
  jvm-runtime/plugin/common/java_plugin_test.go
  jvm-runtime/plugin/common/jvmcommon.go
  jvm-runtime/plugin/common/testdata/kotlin/alpha/src/main/kotlin/ftl/alpha/Alpha.kt
  jvm-runtime/plugin/common/testdata/kotlin/echo/ftl.toml
  jvm-runtime/plugin/common/testdata/kotlin/echo/pom.xml
  jvm-runtime/plugin/common/testdata/kotlin/echo/src/main/kotlin/ftl/echo/Echo.kt
  jvm-runtime/plugin/common/testdata/kotlin/external/ftl.toml
  jvm-runtime/plugin/common/testdata/kotlin/external/pom.xml
  jvm-runtime/plugin/common/testdata/kotlin/external/src/main/kotlin/ftl/externalkotlin/ExternalKotlin.kt
  jvm-runtime/plugin/java/javaplugin.go
  jvm-runtime/plugin/kotlin/kotlinplugin.go
  scripts/ftl-language-java
  scripts/ftl-language-kotlin
  tmp/echo/ftl.toml
  tmp/echo/pom.xml
  tmp/echo/src/main/java/com/example/EchoVerb.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-jvm-team

chore: move JVM to language plugin (#3267)
  Justfile
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/integration/harness.go
  jvm-runtime/cmd/ftl-language-java/main.go
  jvm-runtime/cmd/ftl-language-kotlin/main.go
  jvm-runtime/plugin/common/java_plugin_test.go
  jvm-runtime/plugin/common/jvmcommon.go
  jvm-runtime/plugin/common/testdata/kotlin/alpha/src/main/kotlin/ftl/alpha/Alpha.kt
  jvm-runtime/plugin/common/testdata/kotlin/echo/ftl.toml
  jvm-runtime/plugin/common/testdata/kotlin/echo/pom.xml
  jvm-runtime/plugin/common/testdata/kotlin/echo/src/main/kotlin/ftl/echo/Echo.kt
  jvm-runtime/plugin/common/testdata/kotlin/external/ftl.toml
  jvm-runtime/plugin/common/testdata/kotlin/external/pom.xml
  jvm-runtime/plugin/common/testdata/kotlin/external/src/main/kotlin/ftl/externalkotlin/ExternalKotlin.kt
  jvm-runtime/plugin/java/javaplugin.go
  jvm-runtime/plugin/kotlin/kotlinplugin.go
  scripts/ftl-language-java
  scripts/ftl-language-kotlin
  tmp/echo/ftl.toml
  tmp/echo/pom.xml
  tmp/echo/src/main/java/com/example/EchoVerb.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-jvm-team

chore: don't run tests in rebuild-all
  Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: don't run tests in rebuild-all (#3275)
  Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas

hybrid registry implementation and integration
  backend/controller/artefacts/artefact.go
  backend/controller/artefacts/dal_registry.go
  backend/controller/artefacts/hybrid_registry.go
  backend/controller/artefacts/oci_registry.go
  backend/controller/controller.go
  backend/controller/cronjobs/internal/cronjobs_test.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/timeline/internal/timeline_test.go
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

introducing release_artefacts table for OCI based artefacts
  backend/controller/artefacts/hybrid_registry.go
  backend/controller/artefacts/internal/sql/querier.go
  backend/controller/artefacts/internal/sql/queries.sql
  backend/controller/artefacts/internal/sql/queries.sql.go
  backend/controller/artefacts/oci_registry.go
  backend/controller/controller.go
  backend/controller/sql/schema/20241030190730_create_release_artefacts.sql
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

bug fixes
  backend/controller/artefacts/oci_registry.go
  backend/controller/controller.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: timeline events for async calls
  backend/controller/console/console.go
  backend/controller/controller.go
  backend/controller/dal/async_calls.go
  backend/controller/sql/schema/20241030224020_timeline_async_execute_event.sql
  backend/controller/timeline/events_async.go
  backend/controller/timeline/internal/sql/models.go
  backend/controller/timeline/internal/sql/querier.go
  backend/controller/timeline/internal/sql/queries.sql
  backend/controller/timeline/internal/sql/queries.sql.go
  backend/controller/timeline/internal/timeline_test.go
  backend/controller/timeline/query.go
  backend/controller/timeline/timeline.go
  backend/protos/xyz/block/ftl/v1/console/console.pb.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
  frontend/console/src/features/timeline/Timeline.tsx
  frontend/console/src/features/timeline/TimelineAsyncExecute.tsx
  frontend/console/src/features/timeline/TimelineEventList.tsx
  frontend/console/src/features/timeline/TimelineIcon.tsx
  frontend/console/src/features/timeline/details/TimelineAsyncExecuteDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDetailsHeader.tsx
  frontend/console/src/features/timeline/filters/TimelineFilterPanel.tsx
  frontend/console/src/features/timeline/timeline.utils.ts
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team
