Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

chore: remove dead error handling (#3226)
  internal/integration/actions.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: prevent topic_events being deleted if there is a subscription referencing it (#3227)
  backend/controller/sql/schema/20241029015638_subscription_cursor.sql
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: interactive console --help runs command
  internal/terminal/interactive.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: ftl diff no longer needs language plugins for schemas
  frontend/cli/cmd_schema_diff.go
Owners: @TBD54566975/ftl-frontend-team

fix: `ftl diff` no longer needs language plugins for schemas (#3230)
  frontend/cli/cmd_schema_diff.go
Owners: @TBD54566975/ftl-frontend-team

fix: interactive console --help runs command (#3228)
  internal/terminal/interactive.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: language plugin define log scope
  frontend/cli/cmd_new.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_integration_test.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  python-runtime/cmd/ftl-language-python/main.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

lint
  internal/buildengine/languageplugin/external_plugin_client.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: reduce spammy logs for pings (#3150)
  common/plugin/spawn.go
  frontend/cli/cmd_bench.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_call.go
  frontend/cli/cmd_ping.go
  frontend/cli/cmd_replay.go
  frontend/cli/cmd_serve.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: language plugin logs have named scope and are parsed as json (#3229)
  frontend/cli/cmd_new.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_integration_test.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  python-runtime/cmd/ftl-language-python/main.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

fix: improve cron deletion
  backend/controller/cronjobs/internal/sql/queries.sql
  backend/controller/cronjobs/internal/sql/queries.sql.go
  backend/controller/dal/internal/sql/queries.sql.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: populate task resources as deployment progresses Previously, we populated all dependencies at the start of the deployment, meaning any intermediate outputs were not visible to followup tasks
  backend/provisioner/deployment.go
  backend/provisioner/deployment_test.go
  backend/provisioner/registry.go
  backend/provisioner/resource_graph.go
  backend/provisioner/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

Add index to async_table to speed up lease deletions
  backend/controller/sql/schema/20241029142130_add_index_to_async_calls.sql
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: Add index to async_table to speed up lease deletions (#3235)
  backend/controller/sql/schema/20241029142130_add_index_to_async_calls.sql
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: hide unexported decls by default and provide a toggle at the top of the tree
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

titles
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

tests and ls
  frontend/console/e2e/helpers.ts
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: populate task resources as deployment progresses (#3232)
  backend/provisioner/deployment.go
  backend/provisioner/deployment_test.go
  backend/provisioner/registry.go
  backend/provisioner/resource_graph.go
  backend/provisioner/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

show anyway if selected
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

feat: hide unexported decls in console by default and provide a toggle to show (#3236)
  frontend/console/e2e/helpers.ts
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: improve delay before subscriber receives event
  backend/controller/controller.go
  backend/controller/cronjobs/internal/cronjobs_test.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal_test.go
  backend/controller/pubsub/integration_test.go
  backend/controller/pubsub/service.go
  backend/controller/timeline/internal/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: typos in python runtime (#3195)
  Justfile
  python-runtime/python-plugin/service.go
  python-runtime/scaffolding/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix logging
  backend/controller/pubsub/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix consumption delay test now that we have lowered the delay
  backend/controller/pubsub/integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint
  backend/controller/pubsub/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint gosec
  backend/controller/pubsub/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: handle selectedDecl edge case in console's module tree
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

fix: handle selectedDecl edge case in console's module tree (#3238)
  frontend/console/src/features/modules/ModulesTree.tsx
Owners: @TBD54566975/ftl-frontend-team

fix: fallback to asm secret provider in cluster (#3242)
  backend/controller/controller.go
  internal/configuration/manager/manager.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: improve cron deletion (#3234)
  backend/controller/cronjobs/internal/sql/queries.sql
  backend/controller/cronjobs/internal/sql/queries.sql.go
  backend/controller/dal/internal/sql/queries.sql.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: improve delay before subscriber receives event (#3237)
  backend/controller/controller.go
  backend/controller/cronjobs/internal/cronjobs_test.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal_test.go
  backend/controller/pubsub/integration_test.go
  backend/controller/pubsub/service.go
  backend/controller/timeline/internal/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: add go.mod to ignore python
  python-runtime/scaffolding/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: undo delete of go.mod that excludes python templates
  python-runtime/scaffolding/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: add go.mod to ignore python (#3244)
  python-runtime/scaffolding/go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas

Revert "fix: reduce spammy logs for pings (#3150)"
  common/plugin/spawn.go
  frontend/cli/cmd_bench.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_call.go
  frontend/cli/cmd_ping.go
  frontend/cli/cmd_replay.go
  frontend/cli/cmd_serve.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: linter after revert
  frontend/cli/cmd_ping.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

lint
  frontend/cli/bind_test.go
Owners: @TBD54566975/ftl-frontend-team

lint
  frontend/cli/bind_test.go
Owners: @TBD54566975/ftl-frontend-team

chore: clean up bind allocator creation when skipping controller port
  frontend/cli/bind.go
  frontend/cli/bind_test.go
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_build.go
  frontend/cli/cmd_deploy.go
  frontend/cli/cmd_new.go
Owners: @TBD54566975/ftl-frontend-team

revert: "fix: reduce spammy logs for pings" (#3243)
  common/plugin/spawn.go
  frontend/cli/cmd_bench.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_call.go
  frontend/cli/cmd_ping.go
  frontend/cli/cmd_replay.go
  frontend/cli/cmd_serve.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/rpc/rpc.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
