Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

fix: only delete the service (#2936)
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  deployment/base/ftl-controller/role.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: readline exit behaviour
  internal/terminal/interactive.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: playwright timeout
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

fix: increase playwright timeout (#2978)
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

fix: readline exit behaviour (#2971)
  internal/terminal/interactive.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: issue where modules were disappear when schema changed (#2963)
  frontend/console/src/api/schema/use-schema.ts
Owners: @TBD54566975/ftl-frontend-team

feat: add fsm example (#2965)
  examples/go/fsm/README.md
  examples/go/fsm/fsm.go
  examples/go/fsm/ftl.toml
  examples/go/fsm/go.mod
  examples/go/fsm/go.sum
  examples/go/fsm/types.ftl.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

protos
  backend/protos/xyz/block/ftl/v1/console/console.pb.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
  backend/protos/xyz/block/ftl/v1/console/pbconsoleconnect/console.connect.go
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

use
  frontend/console/src/api/modules/use-stream-modules.ts
Owners: @TBD54566975/ftl-frontend-team

go
  backend/controller/console/console.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint
  backend/controller/console/console.go
  frontend/console/src/api/modules/use-stream-modules.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

refactor and add builtin
  backend/controller/console/console.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

partial fixes
  frontend/console/src/api/modules/use-stream-modules.ts
Owners: @TBD54566975/ftl-frontend-team

one more comment
  backend/controller/console/console.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

integration test + refresh
  backend/controller/console/console_integration_test.go
  frontend/console/src/api/modules/use-stream-modules.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: add StreamModules to ConsoleService (#2931)
  backend/controller/console/console.go
  backend/controller/console/console_integration_test.go
  backend/protos/xyz/block/ftl/v1/console/console.pb.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
  backend/protos/xyz/block/ftl/v1/console/pbconsoleconnect/console.connect.go
  frontend/console/src/api/modules/use-stream-modules.ts
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/console/console_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

move verb export check to before req body validation
  backend/controller/controller.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: verb for resetting after submit
  frontend/console/src/components/CodeEditor.tsx
  frontend/console/src/components/ResizableVerticalPanels.tsx
  frontend/console/src/features/verbs/VerbRequestForm.tsx
  frontend/console/src/features/verbs/verb.utils.ts
Owners: @TBD54566975/ftl-frontend-team

feat: dump kube pod logs
  .github/workflows/ci.yml
  backend/controller/scaling/kube_scaling_integration_test.go
  go.mod
  internal/integration/actions.go
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: dump kube pod logs on test failure (#2921)
  .github/workflows/ci.yml
  backend/controller/scaling/kube_scaling_integration_test.go
  go.mod
  internal/integration/actions.go
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: JVM docs for secrets / config
  docs/content/docs/reference/retries.md
  docs/content/docs/reference/secretsconfig.md
  internal/lsp/hoveritems.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: update hermit action
  .github/workflows/cc.yml
  .github/workflows/ci.yml
  .github/workflows/createnewrelease.yml
  .github/workflows/release.yml
  .github/workflows/workflow-roadmap.yml
  .github/workflows/writecache.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: update hermit action (#2988)
  .github/workflows/cc.yml
  .github/workflows/ci.yml
  .github/workflows/createnewrelease.yml
  .github/workflows/release.yml
  .github/workflows/workflow-roadmap.yml
  .github/workflows/writecache.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

- release cli command stubs - adding docker registry image
  .gitignore
Owners: @TBD54566975/ftl-reviewers, @alecthomas

- partial oci registry support - integration with CLI to demonstrate release publishing is WIP
  backend/controller/artefacts/dal_registry.go
  backend/controller/artefacts/oci_registry.go
  frontend/cli/cmd_release.go
  go.mod
  go.sum
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: JVM docs for secrets / config and retry (#2980)
  docs/content/docs/reference/retries.md
  docs/content/docs/reference/secretsconfig.md
  internal/lsp/hoveritems.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: don't attempt to delete secret
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

docs: add docs to go2proto
  cmd/go2proto/main.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: duplicate log lines
  backend/runner/runner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: don't attempt to delete secret (#2991)
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: duplicate log lines (#2990)
  backend/runner/runner.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

docs: add docs to go2proto (#2992)
  cmd/go2proto/main.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: increase playwright webserver timeout for docker
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

fix: verb for resetting after submit (#2986)
  frontend/console/src/components/CodeEditor.tsx
  frontend/console/src/components/ResizableVerticalPanels.tsx
  frontend/console/src/features/verbs/VerbRequestForm.tsx
  frontend/console/src/features/verbs/verb.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: issue with Kube rolling deployments
  backend/controller/controller.go
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/controller/scaling/k8sscaling/k8s_scaling.go
  backend/controller/scaling/kube_scaling_integration_test.go
  deployment/base/ftl-controller/deployment-config.yaml
  deployment/base/ftl-controller/ftl-controller.yml
  internal/log/plain.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: increase playwright webserver timeout for docker (#2993)
  frontend/console/playwright.config.ts
Owners: @TBD54566975/ftl-frontend-team

Serialise/deserialize value enums
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/FTLRecorder.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/JsonSerializationConfig.java
  jvm-runtime/testdata/go/gomodule/server.go
  jvm-runtime/testdata/java/javaclient/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/enums/AnimalWrapper.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/enums/ColorWrapper.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/enums/ShapeWrapper.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/enums/Verbs.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

add comment
  backend/controller/controller.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: pubsub docs for JVM
  backend/controller/pubsub/testdata/java/subscriber/src/main/java/xyz/block/ftl/java/test/subscriber/Subscriber.java
  docs/content/docs/reference/externaltypes.md
  docs/content/docs/reference/pubsub.md
  docs/content/docs/reference/verbs.md
  internal/lsp/hoveritems.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add nil check
  backend/controller/controller.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
