Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

chore: pr feedback
  backend/provisioner/inmem_provisioner.go
  backend/provisioner/service.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: Provisioner for FTL modules (#3050)
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.proto
  backend/provisioner/controller_provisioner.go
  backend/provisioner/deployment.go
  backend/provisioner/deployment_test.go
  backend/provisioner/dev/dev_provisioner.go
  backend/provisioner/dev_provisioner.go
  backend/provisioner/inmem_provisioner.go
  backend/provisioner/noop/noop_provisioner.go
  backend/provisioner/noop_provisioner.go
  backend/provisioner/provisioner_integration_test.go
  backend/provisioner/registry.go
  backend/provisioner/resource_equality_test.go
  backend/provisioner/resource_graph.go
  backend/provisioner/resource_graph_test.go
  backend/provisioner/resource_type.go
  backend/provisioner/service.go
  cmd/ftl-provisioner/main.go
  frontend/cli/cmd_serve.go
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb.ts
  go.mod
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: release helm charts
  .github/workflows/release.yml
  .gitignore
  charts/Chart.yaml
  charts/Justfile
  charts/templates/controller.yaml
  charts/templates/db-migration-job.yaml
  charts/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: release helm charts (#3078)
  .github/workflows/release.yml
  .gitignore
  charts/Chart.yaml
  charts/Justfile
  charts/templates/controller.yaml
  charts/templates/db-migration-job.yaml
  charts/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: helm charts release fix
  .github/workflows/release.yml
  charts/Justfile
  deployment/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

chore: helm charts release fix (#3079)
  .github/workflows/release.yml
  charts/Justfile
  deployment/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: always release a new version on workflow
  scripts/autoversion
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: always release a new version on workflow (#3080)
  scripts/autoversion
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: remove Kustomize
  .github/workflows/release.yml
  bin/.kustomize-5.4.3.pkg
  bin/kustomize
  charts/Chart.lock
  charts/Chart.yaml
  charts/templates/istio.yaml
  charts/values.yaml
  deployment/Justfile
  deployment/istio/kustomization.yml
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

Extract comments for Enums and TypeAlias
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/CommentKey.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/CommentsBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/processor/AnnotationProcessor.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/enums/Animal.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/enums/Cat.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/javacomments/CommentedModule.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/javacomments/CustomSerializedType.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/javacomments/CustomSerializedTypeMapper.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/javacomments/EnumType.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: ftltest.Call always allows direct initial verb (#3073)
  go-runtime/ftl/ftltest/ftltest.go
  go-runtime/ftl/ftltest/testdata/go/verbtypes/verbtypes_test.go
  go-runtime/ftl/ftltest/testdata/go/wrapped/wrapped_test.go
  internal/modulecontext/module_context.go
Owners: @TBD54566975/ftl-go-team, @TBD54566975/ftl-reviewers, @alecthomas

fix race conditions in test
  internal/buildengine/languageplugin/external_plugin_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

engine responds to invalidated dependencies
  internal/buildengine/build.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

handle error for plugin that exits before ping established
  internal/buildengine/languageplugin/external_plugin_client.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

allow build stream to break
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

remove handling of invalidated dependencies
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint again
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

use bind allocator
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

update name of errInvalidateDependencies
  internal/buildengine/build.go
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

clean up
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/java_plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

comments and lint
  frontend/cli/cmd_new.go
  frontend/cli/main.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-reviewers, @alecthomas

use result.Result instead of either.Either[…, error]
  internal/buildengine/build.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add external plugin to build engine
  backend/controller/admin/local_client.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/cli/cmd_schema_diff.go
  internal/buildengine/build.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: remove Kustomize (#3081)
  .github/workflows/release.yml
  bin/.kustomize-5.4.3.pkg
  bin/kustomize
  charts/Chart.lock
  charts/Chart.yaml
  charts/templates/istio.yaml
  charts/values.yaml
  deployment/Justfile
  deployment/istio/kustomization.yml
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

lint
  internal/buildengine/engine.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add external plugin to build engine (#2994)
  backend/controller/admin/local_client.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/cli/cmd_new.go
  frontend/cli/cmd_schema_diff.go
  frontend/cli/main.go
  internal/buildengine/build.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

fix: chart release
  .github/workflows/release.yml
  charts/Chart.yaml
  charts/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: chart release (#3083)
  .github/workflows/release.yml
  charts/Chart.yaml
  charts/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: chart fixes
  charts/Chart.yaml
  charts/Justfile
  charts/templates/controller.yaml
  charts/templates/db-migration-job.yaml
  deployment/Justfile
  deployment/values-release.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: chart fixes (#3084)
  charts/Chart.yaml
  charts/Justfile
  charts/templates/controller.yaml
  charts/templates/db-migration-job.yaml
  deployment/Justfile
  deployment/values-release.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: deploy-version should pull from the registry
  deployment/Justfile
Owners: @TBD54566975/ftl-infra-team

remove redundant otel collector
  Justfile
  docker-compose.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

update `CONTRIBUTING.md`
  CONTRIBUTING.md
Owners: @TBD54566975/ftl-reviewers, @alecthomas

first stab at observability docs
  docs/content/docs/observability/metrics.md
Owners: @TBD54566975/ftl-reviewers, @alecthomas

delete unneeded otel collector local config
  otel-local-config.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: deploy-version should pull from the registry (#3085)
  deployment/Justfile
Owners: @TBD54566975/ftl-infra-team

fix docs
  docs/content/docs/observability/_index.md
  docs/content/docs/observability/metrics.md
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: make controller service account configurable
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  charts/templates/controller-role.yaml
  charts/templates/controller.yaml
  charts/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: make controller service account configurable (#3086)
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  charts/templates/controller-role.yaml
  charts/templates/controller.yaml
  charts/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: move renovate config
  .github/renovate.json5
Owners: @TBD54566975/ftl-reviewers, @alecthomas

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
