Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

implement hybrid registry
  backend/controller/artefacts/artefact.go
  backend/controller/artefacts/hybrid_registry.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: JVM support on Kube
  Dockerfile.box
  Dockerfile.runner
  bin/.openjdk-17.0.8_7.pkg
  bin/jar
  bin/jarsigner
  bin/java
  bin/javac
  bin/javadoc
  bin/javap
  bin/jcmd
  bin/jconsole
  bin/jdb
  bin/jdeprscan
  bin/jdeps
  bin/jfr
  bin/jhsdb
  bin/jimage
  bin/jinfo
  bin/jlink
  bin/jmap
  bin/jmod
  bin/jpackage
  bin/jps
  bin/jrunscript
  bin/jshell
  bin/jstack
  bin/jstat
  bin/jstatd
  bin/keytool
  bin/rmiregistry
  bin/serialver
  deployment/Dockerfile.runner.test
  deployment/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

comments
  backend/controller/console/console.go
  frontend/console/src/features/modules/decls/DeclLink.tsx
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: replace all useModules and useStream callers in ModulesPage with useStreamModules (#3057)
  backend/controller/console/console.go
  frontend/console/src/api/modules/use-stream-modules.ts
  frontend/console/src/features/modules/ModulePanel.tsx
  frontend/console/src/features/modules/ModulesPage.tsx
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/decls/ConfigPanel.tsx
  frontend/console/src/features/modules/decls/DataPanel.tsx
  frontend/console/src/features/modules/decls/DataSnippet.tsx
  frontend/console/src/features/modules/decls/DatabasePanel.tsx
  frontend/console/src/features/modules/decls/DeclLink.tsx
  frontend/console/src/features/modules/decls/DeclPanel.tsx
  frontend/console/src/features/modules/decls/EnumPanel.tsx
  frontend/console/src/features/modules/decls/EnumSnippet.tsx
  frontend/console/src/features/modules/decls/FsmPanel.tsx
  frontend/console/src/features/modules/decls/PanelHeader.tsx
  frontend/console/src/features/modules/decls/SecretPanel.tsx
  frontend/console/src/features/modules/decls/SubscriptionPanel.tsx
  frontend/console/src/features/modules/decls/TopicPanel.tsx
  frontend/console/src/features/modules/decls/TypeAliasPanel.tsx
  frontend/console/src/features/modules/decls/TypeAliasSnippet.tsx
  frontend/console/src/features/modules/decls/TypeEl.tsx
  frontend/console/src/features/modules/module.utils.ts
  frontend/console/src/features/modules/schema/LinkTokens.tsx
  frontend/console/src/features/modules/schema/Schema.tsx
  frontend/console/src/features/modules/schema/schema.utils.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

init
  backend/controller/console/console.go
  backend/protos/xyz/block/ftl/v1/console/console.proto
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: ftltest.Call always allows direct initial verb
  go-runtime/ftl/ftltest/ftltest.go
  go-runtime/ftl/ftltest/testdata/go/verbtypes/verbtypes_test.go
  go-runtime/ftl/ftltest/testdata/go/wrapped/wrapped_test.go
  internal/modulecontext/module_context.go
Owners: @TBD54566975/ftl-go-team, @TBD54566975/ftl-reviewers, @alecthomas

fix: JVM support on Kube (#3074)
  Dockerfile.box
  Dockerfile.runner
  bin/.openjdk-17.0.8_7.pkg
  bin/jar
  bin/jarsigner
  bin/java
  bin/javac
  bin/javadoc
  bin/javap
  bin/jcmd
  bin/jconsole
  bin/jdb
  bin/jdeprscan
  bin/jdeps
  bin/jfr
  bin/jhsdb
  bin/jimage
  bin/jinfo
  bin/jlink
  bin/jmap
  bin/jmod
  bin/jpackage
  bin/jps
  bin/jrunscript
  bin/jshell
  bin/jstack
  bin/jstat
  bin/jstatd
  bin/keytool
  bin/rmiregistry
  bin/serialver
  deployment/Dockerfile.runner.test
  deployment/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

chore: WIP smoke test upgrade path
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

retrieve latest tagged release
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add placeholder smoketest module
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

go test smoketest
  .github/workflows/ci.yml
  internal/integration/actions.go
  internal/integration/harness.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

run previous exemplar on current HEAD
  .github/workflows/ci.yml
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

logging and handling to find script error
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

upload smoke-test-upgrade report artifact
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

checkout exemplar from previous commit instead of whole tree
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

use envar to conditionally run smoke test with kube
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

debug: run smoketests on previous commit
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

replace currente exemplar with latest release's exemplar
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

test against previous release, remove tmp smoke test
  .github/workflows/ci.yml
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

cleanup
  .github/workflows/ci.yml
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
Owners: @TBD54566975/ftl-reviewers, @alecthomas

more apt GHA name since it doesn't test the user upgrade path
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add smoketest workflow which checks out the tagged release and fetches released binaries
  .github/workflows/smoketest.yml
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

run tagged release cluster with released binaries
  .github/workflows/smoketest.yml
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

checkout HEAD and run smoke test with kube deploy to test upgrade path
  .github/workflows/smoketest.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

deploy tagged dockerhub image to kube cluster, run smoke test without full deploy
  .github/workflows/smoketest.yml
  backend/controller/scaling/kube_scaling_integration_test.go
  internal/integration/harness.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

use deployment Justfile from HEAD
  .github/workflows/smoketest.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

simple java module to debug test timeout issue
  .github/workflows/smoketest.yml
  smoketest/exemplar_smoke_test.go
  smoketest/jecho/ftl.toml
  smoketest/jecho/pom.xml
  smoketest/jecho/src/main/java/com/example/EchoVerb.java
  smoketest/relay/relay.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

remove gate on java builds, enable exemplar test
  internal/integration/harness.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

re-enable exemplar smoketest, expected to fail until log collection is in
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix integration tests
  backend/controller/admin/local_client_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

begin
  backend/controller/admin/admin.go
  backend/controller/admin/local_client.go
  backend/controller/controller.go
  backend/controller/dal/dal.go
  frontend/cli/cmd_config.go
  frontend/cli/cmd_new.go
  frontend/cli/cmd_schema_diff.go
  frontend/cli/cmd_serve.go
  frontend/cli/main.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

update comment
  frontend/cli/cmd_serve.go
Owners: @TBD54566975/ftl-frontend-team

fix things up
  backend/controller/admin/admin_test.go
  backend/controller/admin/local_client_test.go
  frontend/cli/cmd_new.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

more
  bin/hermit.hcl
  frontend/cli/cmd_new.go
  frontend/cli/cmd_schema_diff.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

add comments
  backend/controller/admin/admin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: language plugins require a bind allocator to be provided (#3069)
  backend/controller/admin/admin.go
  backend/controller/admin/admin_test.go
  backend/controller/admin/local_client.go
  backend/controller/admin/local_client_test.go
  backend/controller/controller.go
  backend/controller/dal/dal.go
  bin/hermit.hcl
  frontend/cli/cmd_config.go
  frontend/cli/cmd_new.go
  frontend/cli/cmd_schema_diff.go
  frontend/cli/cmd_serve.go
  frontend/cli/main.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/go_plugin_test.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: initial helm charts
  .gitignore
  Dockerfile.initdb
  Justfile
  charts/Chart.lock
  charts/Chart.yaml
  charts/Justfile
  charts/templates/_helpers.tpl
  charts/templates/controller-role.yaml
  charts/templates/controller-services.yaml
  charts/templates/controller.yaml
  charts/templates/db-migration-job.yaml
  charts/templates/ingress.yaml
  charts/templates/runner.yaml
  charts/templates/secrets.yaml
  charts/values.yaml
  deployment/Justfile
  deployment/base/db-create/kustomization.yml
  deployment/base/db-create/pg-cluster.yaml
  deployment/base/db-migrate/db-migrate.yml
  deployment/base/db-migrate/kustomization.yml
  deployment/base/db-migrate/schema
  deployment/base/ftl-controller/deployment-config.yaml
  deployment/base/ftl-controller/ftl-controller.yml
  deployment/base/ftl-controller/kustomization.yml
  deployment/base/ftl-controller/role.yaml
  deployment/base/ftl-controller/role_binding.yaml
  deployment/base/ftl-controller/service_account.yaml
  deployment/base/kustomization.yml
  deployment/base/localstack/kustomization.yml
  deployment/base/localstack/localstack.yml
  deployment/overlays/dev/kustomization.yml
  deployment/values.yaml
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

feat: initial helm charts (#3070)
  .gitignore
  Dockerfile.initdb
  Justfile
  charts/Chart.lock
  charts/Chart.yaml
  charts/Justfile
  charts/templates/_helpers.tpl
  charts/templates/controller-role.yaml
  charts/templates/controller-services.yaml
  charts/templates/controller.yaml
  charts/templates/db-migration-job.yaml
  charts/templates/ingress.yaml
  charts/templates/runner.yaml
  charts/templates/secrets.yaml
  charts/values.yaml
  deployment/Justfile
  deployment/base/db-create/kustomization.yml
  deployment/base/db-create/pg-cluster.yaml
  deployment/base/db-migrate/db-migrate.yml
  deployment/base/db-migrate/kustomization.yml
  deployment/base/db-migrate/schema
  deployment/base/ftl-controller/deployment-config.yaml
  deployment/base/ftl-controller/ftl-controller.yml
  deployment/base/ftl-controller/kustomization.yml
  deployment/base/ftl-controller/role.yaml
  deployment/base/ftl-controller/role_binding.yaml
  deployment/base/ftl-controller/service_account.yaml
  deployment/base/kustomization.yml
  deployment/base/localstack/kustomization.yml
  deployment/base/localstack/localstack.yml
  deployment/overlays/dev/kustomization.yml
  deployment/values.yaml
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

applying pr feedback
  backend/controller/artefacts/oci_registry.go
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

applying pr feedback
  backend/controller/artefacts/oci_registry.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
