Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

feat: new, simplified modules page
  frontend/console/e2e/modules.spec.ts
  frontend/console/src/components/List.tsx
  frontend/console/src/features/modules/ModulesPage.tsx
  frontend/console/src/features/modules/ModulesPanel.tsx
  frontend/console/src/providers/routing-provider.tsx
Owners: @TBD54566975/ftl-frontend-team

chore: ignore playwright-report with biomejs
  frontend/console/biome.json
Owners: @TBD54566975/ftl-frontend-team

feat: new, simplified modules page (#3054)
  frontend/console/e2e/modules.spec.ts
  frontend/console/src/components/List.tsx
  frontend/console/src/features/modules/ModulesPage.tsx
  frontend/console/src/features/modules/ModulesPanel.tsx
  frontend/console/src/providers/routing-provider.tsx
Owners: @TBD54566975/ftl-frontend-team

chore: ignore playwright-report with biomejs (#3056)
  frontend/console/biome.json
Owners: @TBD54566975/ftl-frontend-team

chore: add target to deploy released image (#3046)
  bin/.kustomize-5.4.3.pkg
  bin/kustomize
  deployment/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

collect correct media and artifact type metadata
  backend/controller/artefacts/oci_registry.go
  frontend/cli/cmd_release.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: fix pnpm cache saving
  .github/actions/build-cache/action.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: fix pnpm cache saving (#3058)
  .github/actions/build-cache/action.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: caching fixes
  .github/actions/build-cache/action.yml
  .github/workflows/writecache.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: obervability support for JVM
  examples/java/time/src/main/java/ftl/time/Time.java
  jvm-runtime/ftl-runtime/common/deployment/pom.xml
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/StaticConfigSource.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
  jvm-runtime/ftl-runtime/common/runtime/pom.xml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

change to jboss logger
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/DatasourceProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/JVMCodeGenerator.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TypeAliasProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbProcessor.java
Owners: @TBD54566975/ftl-infra-team

feat: streaming module updates from console service backend
  backend/controller/console/console.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

lint
  backend/controller/console/console.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: refactor
  backend/provisioner/controller_provisioner.go
  backend/provisioner/dev_provisioner.go
  backend/provisioner/inmem_provisioner.go
  go.mod
  go.sum
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add export info to typealiases
  bin/.golangci-lint-1.55.2.pkg
  bin/.watchexec-1.24.1.pkg
  broken.schema
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix infinite loop in test
  backend/controller/console/console_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix accidental commit
  bin/.golangci-lint-1.55.2.pkg
  bin/.watchexec-1.24.1.pkg
  broken.schema
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: streaming module updates from console service backend (#3064)
  backend/controller/console/console.go
  backend/controller/console/console_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: hook ModulesPage up to StreamModules
  frontend/console/src/api/modules/use-stream-modules.ts
  frontend/console/src/features/modules/ModulePanel.tsx
  frontend/console/src/features/modules/ModulesPage.tsx
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/decls/ConfigPanel.tsx
  frontend/console/src/features/modules/decls/DataPanel.tsx
  frontend/console/src/features/modules/decls/DataSnippet.tsx
  frontend/console/src/features/modules/decls/DatabasePanel.tsx
  frontend/console/src/features/modules/decls/DeclLink.tsx
  frontend/console/src/features/modules/decls/DeclPanel.tsx
  frontend/console/src/features/modules/decls/EnumPanel.tsx
  frontend/console/src/features/modules/decls/EnumSnippet.tsx
  frontend/console/src/features/modules/decls/FsmPanel.tsx
  frontend/console/src/features/modules/decls/PanelHeader.tsx
  frontend/console/src/features/modules/decls/SecretPanel.tsx
  frontend/console/src/features/modules/decls/SubscriptionPanel.tsx
  frontend/console/src/features/modules/decls/TopicPanel.tsx
  frontend/console/src/features/modules/decls/TypeAliasPanel.tsx
  frontend/console/src/features/modules/decls/TypeAliasSnippet.tsx
  frontend/console/src/features/modules/decls/TypeEl.tsx
  frontend/console/src/features/modules/module.utils.ts
  frontend/console/src/features/modules/schema/LinkTokens.tsx
  frontend/console/src/features/modules/schema/Schema.tsx
  frontend/console/src/features/modules/schema/schema.utils.ts
Owners: @TBD54566975/ftl-frontend-team

feat: add proto for language plugin service
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language.go/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language.go/language_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: sanity check in test harness
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: add proto for language plugin service (#3060)
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language.go/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language.go/language_pb.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

more fixes
  frontend/console/src/features/modules/ModulesPage.tsx
  frontend/console/src/features/modules/decls/DeclLink.tsx
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

feat: add external plugin to build engine
  backend/controller/admin/local_client.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/cli/cmd_schema_diff.go
  frontend/cli/main.go
  internal/buildengine/build.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/java_plugin_test.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/moduleconfig/moduleconfig.go
  internal/moduleconfig/moduleconfig_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

cleanup
  frontend/console/src/features/modules/decls/DeclLink.tsx
Owners: @TBD54566975/ftl-frontend-team

feat: Export type aliases (#3065)
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
Owners: @TBD54566975/ftl-infra-team

chore: don't create docker cache on PRs (#3059)
  .github/actions/build-cache/action.yml
  .github/workflows/writecache.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: sanity check in test harness (#3066)
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: observability support for JVM (#3051)
  examples/java/time/src/main/java/ftl/time/Time.java
  jvm-runtime/ftl-runtime/common/deployment/pom.xml
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/StaticConfigSource.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/resources/META-INF/services/org.eclipse.microprofile.config.spi.ConfigSource
  jvm-runtime/ftl-runtime/common/runtime/pom.xml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

handle different module in snippet
  frontend/console/src/features/modules/decls/DeclLink.tsx
  frontend/console/src/features/modules/schema/LinkTokens.tsx
  frontend/console/src/features/modules/schema/Schema.tsx
Owners: @TBD54566975/ftl-frontend-team

always scroll to top when opening new module page
  frontend/console/src/features/modules/ModulePanel.tsx
Owners: @TBD54566975/ftl-frontend-team

clean up
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/java_plugin.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

allow build stream to break
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

refactor: unify (many of) the DSN uses
  backend/controller/controller.go
  backend/controller/dsn/dsn.go
  backend/controller/sql/database_integration_test.go
  backend/controller/sql/sqltest/testing.go
  cmd/ftl-controller/main.go
  cmd/ftl-initdb/main.go
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_migrate.go
  frontend/cli/main.go
  internal/dev/db.go
  internal/integration/actions.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

refactor: unify (many of) the DSN uses (#3067)
  backend/controller/controller.go
  backend/controller/dsn/dsn.go
  backend/controller/sql/database_integration_test.go
  backend/controller/sql/sqltest/testing.go
  cmd/ftl-controller/main.go
  cmd/ftl-initdb/main.go
  frontend/cli/cmd_box.go
  frontend/cli/cmd_box_run.go
  frontend/cli/cmd_migrate.go
  frontend/cli/main.go
  internal/dev/db.go
  internal/integration/actions.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: remove printf
  internal/buildengine/deploy.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: remove printf (#3068)
  internal/buildengine/deploy.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: initial helm charts
  .gitignore
  Dockerfile.initdb
  Justfile
  charts/Chart.lock
  charts/Chart.yaml
  charts/Justfile
  charts/templates/_helpers.tpl
  charts/templates/controller-role.yaml
  charts/templates/controller-services.yaml
  charts/templates/controller.yaml
  charts/templates/db-migration-job.yaml
  charts/templates/ingress.yaml
  charts/templates/runner.yaml
  charts/templates/secrets.yaml
  charts/values.yaml
  deployment/Justfile
  deployment/base/db-create/kustomization.yml
  deployment/base/db-create/pg-cluster.yaml
  deployment/base/db-migrate/db-migrate.yml
  deployment/base/db-migrate/kustomization.yml
  deployment/base/db-migrate/schema
  deployment/base/ftl-controller/deployment-config.yaml
  deployment/base/ftl-controller/ftl-controller.yml
  deployment/base/ftl-controller/kustomization.yml
  deployment/base/ftl-controller/role.yaml
  deployment/base/ftl-controller/role_binding.yaml
  deployment/base/ftl-controller/service_account.yaml
  deployment/base/kustomization.yml
  deployment/base/localstack/kustomization.yml
  deployment/base/localstack/localstack.yml
  deployment/overlays/dev/kustomization.yml
  deployment/values.yaml
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: (de)serialise schema runtime metadata
  internal/schema/module.go
  internal/schema/verb.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: (de)serialise schema runtime metadata (#3071)
  internal/schema/module.go
  internal/schema/verb.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
