Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

feat: switch go2proto to use an intermediate model
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  cmd/go2proto/main.go
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: switch go2proto to use an intermediate model (#3089)
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  cmd/go2proto/main.go
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: introducing oci artifact registry impl (#2989)
  .gitignore
  backend/controller/artefacts/dal_registry.go
  backend/controller/artefacts/oci_registry.go
  docker-compose.yml
  frontend/cli/cmd_release.go
  frontend/cli/main.go
  go.mod
  go.sum
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: Remove redundant otel collector (#3087)
  CONTRIBUTING.md
  Justfile
  docker-compose.yml
  docs/content/docs/observability/_index.md
  docs/content/docs/observability/metrics.md
  otel-local-config.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: generalise go2proto options
  Justfile
  cmd/go2proto/main.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: generalise go2proto options (#3091)
  Justfile
  cmd/go2proto/main.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: fix some mk deps
  Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: fix some mk deps (#3092)
  Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: scrollable sidebar and refactor
  frontend/console/src/features/timeline/Timeline.tsx
  frontend/console/src/features/timeline/TimelineCall.tsx
  frontend/console/src/features/timeline/TimelineCronScheduled.tsx
  frontend/console/src/features/timeline/TimelineEventList.tsx
  frontend/console/src/features/timeline/TimelineIngress.tsx
  frontend/console/src/features/timeline/details/TimelineCallDetails.tsx
  frontend/console/src/features/timeline/details/TimelineCronScheduledDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDeploymentCreatedDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDeploymentUpdatedDetails.tsx
  frontend/console/src/features/timeline/details/TimelineDetailsColorBar.tsx
  frontend/console/src/features/timeline/details/TimelineDetailsHeader.tsx
  frontend/console/src/features/timeline/details/TimelineIngressDetails.tsx
  frontend/console/src/features/timeline/details/TimelineLogDetails.tsx
  frontend/console/src/features/timeline/details/TimelineTimestamp.tsx
  frontend/console/src/features/traces/TraceGraphHeader.tsx
  frontend/console/src/features/traces/details/TraceDetailsCall.tsx
  frontend/console/src/features/traces/details/TraceDetailsIngress.tsx
  frontend/console/src/features/verbs/verb.utils.ts
  frontend/console/src/layout/SidePanel.tsx
  frontend/console/src/providers/side-panel-provider.tsx
Owners: @TBD54566975/ftl-frontend-team

feat: go2proto generates To/FromProto functions
  Justfile
  cmd/go2proto/main.go
  cmd/go2proto/mappers.go
  cmd/go2proto/proto.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: release charts from GH repo
  .github/workflows/release.yml
  .gitignore
  charts/Justfile
  charts/ftl/Chart.lock
  charts/ftl/Chart.yaml
  charts/ftl/templates/_helpers.tpl
  charts/ftl/templates/controller-role.yaml
  charts/ftl/templates/controller-services.yaml
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/db-migration-job.yaml
  charts/ftl/templates/ingress.yaml
  charts/ftl/templates/istio.yaml
  charts/ftl/templates/runner.yaml
  charts/ftl/templates/secrets.yaml
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: release charts from GH repo (#3095)
  .github/workflows/release.yml
  .gitignore
  charts/Justfile
  charts/ftl/Chart.lock
  charts/ftl/Chart.yaml
  charts/ftl/templates/_helpers.tpl
  charts/ftl/templates/controller-role.yaml
  charts/ftl/templates/controller-services.yaml
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/db-migration-job.yaml
  charts/ftl/templates/ingress.yaml
  charts/ftl/templates/istio.yaml
  charts/ftl/templates/runner.yaml
  charts/ftl/templates/secrets.yaml
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: copy/paste error
  .github/workflows/release.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: copy/paste error (#3096)
  .github/workflows/release.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: chart directory
  .github/workflows/release.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: Extract JVM comments for Enums and TypeAlias (#3082)
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/CommentKey.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/CommentsBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/EnumProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/runtime/processor/AnnotationProcessor.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/enums/Animal.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/enums/Cat.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/javacomments/CommentedModule.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/javacomments/CustomSerializedType.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/javacomments/CustomSerializedTypeMapper.java
  jvm-runtime/testdata/java/javaserver/src/main/java/xyz/block/ftl/javacomments/EnumType.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: chart directory (#3097)
  .github/workflows/release.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: rename chart to ftl
  charts/ftl/Chart.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: rename chart to ftl (#3100)
  charts/ftl/Chart.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: copy to correct dir
  .github/workflows/release.yml
  deployment/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

fix: copy to correct dir (#3102)
  .github/workflows/release.yml
  deployment/Justfile
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

feat: Improve local subscriptions
  backend/controller/pubsub/testdata/java/publisher/src/main/java/xyz/block/ftl/java/test/publisher/Publisher.java
  docs/content/docs/reference/pubsub.md
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/FTLDotNames.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionMetaAnnotationsBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/Subscription.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

feat: Improve local subscriptions (#3028)
  backend/controller/pubsub/testdata/java/publisher/src/main/java/xyz/block/ftl/java/test/publisher/Publisher.java
  docs/content/docs/reference/pubsub.md
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/FTLDotNames.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionMetaAnnotationsBuildItem.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/SubscriptionProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/TopicsProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/Subscription.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

Write comments into Java and Kotlin clients
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/JVMCodeGenerator.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/testdata/go/gomodule/server.go
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

chore: add db access to the provisioning integration test
  backend/provisioner/testdata/go/echo/echo.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: pass database DSN in a Runtime to the controller
  backend/controller/controller.go
  backend/protos/xyz/block/ftl/v1/schema/schema.pb.go
  backend/protos/xyz/block/ftl/v1/schema/schema.proto
  backend/provisioner/controller_provisioner.go
  frontend/console/src/protos/xyz/block/ftl/v1/schema/schema_pb.ts
  internal/schema/database.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: try to add the DB DSN to secrets. Still fails for no default provider
  backend/controller/controller.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: use inline secret provisioner instead in mem one
  backend/controller/controller.go
  backend/provisioner/provisioner_integration_test.go
  backend/provisioner/testdata/go/ftl-project.toml
  internal/configuration/manager/defaults.go
  internal/configuration/providers/inmem_provider.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

chore: use an inmem secret provider for generated secrets for now
  backend/controller/controller.go
  backend/provisioner/provisioner_integration_test.go
  backend/provisioner/testdata/go/echo/echo.go
  frontend/cli/main.go
  ftl-project.toml
  internal/configuration/manager/defaults.go
  internal/configuration/obfuscator.go
  internal/configuration/providers/inmem_provider.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

chore: rename database endpoints to dsn in the resource schema
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.pb.go
  backend/protos/xyz/block/ftl/v1beta1/provisioner/resource.proto
  backend/provisioner/controller_provisioner.go
  backend/provisioner/dev_provisioner.go
  backend/provisioner/resource_equality_test.go
  frontend/console/src/protos/xyz/block/ftl/v1beta1/provisioner/resource_pb.ts
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team

feat: add DD trace id to the logs
  backend/controller/observability/calls.go
  backend/controller/observability/controller.go
  backend/runner/runner.go
  go-runtime/server/server.go
  internal/observability/logger.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-go-team

chore: small fixes
  backend/controller/controller.go
  backend/provisioner/controller_provisioner.go
  backend/provisioner/dev_provisioner.go
  backend/provisioner/provisioner_integration_test.go
  backend/provisioner/service.go
  cmd/ftl-provisioner-cloudformation/provisioner.go
  cmd/ftl-provisioner-cloudformation/status.go
  ftl-project.toml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

Box Java verb param and response types
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/testdata/go/gomodule/server.go
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

feat: Write comments into generated Java and Kotlin (#3104)
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/JVMCodeGenerator.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/testdata/go/gomodule/server.go
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: chart path for kube tests
  deployment/Justfile
Owners: @TBD54566975/ftl-infra-team

fix: chart path for kube tests (#3111)
  deployment/Justfile
Owners: @TBD54566975/ftl-infra-team

tmp: JVM API changes
  backend/controller/pubsub/testdata/java/subscriber/src/main/java/xyz/block/ftl/java/test/subscriber/Subscriber.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/FTLDotNames.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/ModuleBuilder.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/GeneratedRef.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/LeaseHandle.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/Name.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/Ref.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/Subscription.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/Topic.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/TopicDefinition.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/TypeAlias.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/Verb.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClient.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientDefinition.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientEmpty.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientSink.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClientSource.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: check SKIP_KUBE_FULL_DEPLOY envar in kube test harness
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: check SKIP_KUBE_FULL_DEPLOY envar in kube test harness (#3113)
  internal/integration/harness.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: remove cron jobs on deactivation
  backend/controller/controller.go
  backend/controller/cronjobs/cronjobs.go
  backend/controller/cronjobs/cronjobs_integration_test.go
  backend/controller/cronjobs/internal/cronjobs_test.go
  backend/controller/cronjobs/internal/dal/dal.go
  backend/controller/cronjobs/internal/sql/querier.go
  backend/controller/cronjobs/internal/sql/queries.sql
  backend/controller/cronjobs/internal/sql/queries.sql.go
  backend/controller/dal/async_calls_test.go
  backend/controller/dal/dal.go
  backend/controller/dal/dal_test.go
  backend/controller/dal/fsm_test.go
  backend/controller/dal/internal/sql/querier.go
  backend/controller/dal/internal/sql/queries.sql.go
  backend/controller/timeline/events_call.go
  backend/controller/timeline/internal/timeline_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team
