Repository TBD54566975/ftl, changes with the owners that CODEOWNERS names for each.
All owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @gak, @TBD54566975/ftl-go-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-infra-team

CODEOWNERS:

# Members of ftl-reviewers will be round-robined per the code review settings in the team profile:
#   https://github.com/orgs/TBD54566975/teams/ftl-reviewers/edit/review_assignment

# By default ftl-reviewers will be added to all PRs.
*                @TBD54566975/ftl-reviewers @alecthomas

# Below are team-specific overrides. These should supercede the default ftl-reviewers team.
frontend/        @TBD54566975/ftl-frontend-team
pnpm-*           @TBD54566975/ftl-frontend-team
rust-runtime/    @gak
go-runtime/      @TBD54566975/ftl-go-team
jvm-runtime/     @TBD54566975/ftl-jvm-team
deployment/      @TBD54566975/ftl-infra-team

upload smoke-test-upgrade report artifact
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

debug: run smoketests on previous commit
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

logging and handling to find script error
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

run previous exemplar on current HEAD
  .github/workflows/ci.yml
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

use envar to conditionally run smoke test with kube
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

replace currente exemplar with latest release's exemplar
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

checkout exemplar from previous commit instead of whole tree
  .github/workflows/ci.yml
  smoketest/exemplar_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

cleanup
  .github/workflows/ci.yml
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
Owners: @TBD54566975/ftl-reviewers, @alecthomas

test against previous release, remove tmp smoke test
  .github/workflows/ci.yml
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

more apt GHA name since it doesn't test the user upgrade path
  .github/workflows/ci.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

add smoketest workflow which checks out the tagged release and fetches released binaries
  .github/workflows/smoketest.yml
  smoketest/echo/echo.go
  smoketest/echo/ftl.toml
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

run tagged release cluster with released binaries
  .github/workflows/smoketest.yml
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

deploy tagged dockerhub image to kube cluster, run smoke test without full deploy
  .github/workflows/smoketest.yml
  backend/controller/scaling/kube_scaling_integration_test.go
  internal/integration/harness.go
  smoketest/exemplar_smoke_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

use deployment Justfile from HEAD
  .github/workflows/smoketest.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

checkout HEAD and run smoke test with kube deploy to test upgrade path
  .github/workflows/smoketest.yml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

remove gate on java builds, enable exemplar test
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

simple java module to debug test timeout issue
  .github/workflows/smoketest.yml
  smoketest/exemplar_smoke_test.go
  smoketest/jecho/ftl.toml
  smoketest/jecho/pom.xml
  smoketest/jecho/src/main/java/com/example/EchoVerb.java
  smoketest/relay/relay.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: istio
  deployment/Justfile
Owners: @TBD54566975/ftl-infra-team

fix deploy-version version to match helm chart usage
  .github/workflows/smoketest.yml
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

move SKIP_KUBE_FULL_DEPLOY env to harness
  backend/controller/scaling/kube_scaling_integration_test.go
  internal/integration/harness.go
  smoketest/exemplar_smoke_test.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

ingress now working, FSMNext is broken
  smoketest/echo/go.mod
  smoketest/echo/go.sum
  smoketest/echo/types.ftl.go
  smoketest/origin/origin.go
  smoketest/pulse/src/main/java/com/example/Pulse.java
  smoketest/relay/relay.go
  smoketest/smoketest_integration_test.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: update routes under lock
  backend/controller/controller.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: update routes under lock (#3141)
  backend/controller/controller.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

Move @VerbClient annotation to method. Rename client method from "call" to <verbName>
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbType.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClient.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/testdata/java/javaclient/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/TestInvokeGoFromKotlin.kt
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix test
  smoketest/pulse/src/main/java/com/example/Pulse.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas

Remove name from VerbClient
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbProcessor.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClient.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team

fix: wait for provisioner
  .github/workflows/ci.yml
  backend/controller/scaling/k8sscaling/deployment_provisioner.go
  backend/provisioner/service.go
  charts/ftl/values.yaml
  deployment/Justfile
  deployment/values.yaml
  frontend/cli/main.go
  internal/integration/actions.go
  internal/integration/harness.go
  internal/terminal/interactive.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team, @TBD54566975/ftl-frontend-team

really fix test
  smoketest/pulse/src/main/java/com/example/Pulse.java
Owners: @TBD54566975/ftl-reviewers, @alecthomas

testing
  charts/ftl/templates/ingress.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

resource limits
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/runner.yaml
  charts/ftl/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas

feat: Move VerbClient annotation to method (#3144)
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbProcessor.java
  jvm-runtime/ftl-runtime/common/deployment/src/main/java/xyz/block/ftl/deployment/VerbType.java
  jvm-runtime/ftl-runtime/common/runtime/src/main/java/xyz/block/ftl/VerbClient.java
  jvm-runtime/ftl-runtime/java/deployment/src/main/java/xyz/block/ftl/javalang/deployment/JavaCodeGenerator.java
  jvm-runtime/ftl-runtime/kotlin/deployment/src/main/java/xyz/block/ftl/kotlin/deployment/KotlinCodeGenerator.java
  jvm-runtime/testdata/java/javaclient/src/main/java/xyz/block/ftl/test/TestInvokeGoFromJava.java
  jvm-runtime/testdata/kotlin/kotlinmodule/src/main/kotlin/xyz/block/ftl/test/TestInvokeGoFromKotlin.kt
  smoketest/pulse/src/main/java/com/example/Pulse.java
Owners: @TBD54566975/ftl-infra-team, @TBD54566975/ftl-jvm-team, @TBD54566975/ftl-reviewers, @alecthomas

tmp
  deployment/Justfile
Owners: @TBD54566975/ftl-infra-team

Revert "feat: configure provisioner through ConfigMap (#3135)"
  Dockerfile.provisioner
  charts/ftl/templates/provisioner-config-map.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.provisioner.test
  deployment/Justfile
  deployment/ftl-provisioner-config.toml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

Revert "feat: add helm charts for provisioner (#3133)"
  backend/provisioner/service.go
  charts/ftl/templates/_helpers.tpl
  charts/ftl/templates/controller.yaml
  charts/ftl/templates/ingress.yaml
  charts/ftl/templates/provisioner-services.yaml
  charts/ftl/templates/provisioner.yaml
  charts/ftl/values.yaml
  deployment/Dockerfile.provisioner.test
  deployment/Justfile
  deployment/ftl-provisioner-config.toml
  deployment/values-release.yaml
  deployment/values.yaml
  ftl-provisioner-config.toml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

Revert "feat: add k3d ingress (#3128)"
  charts/ftl/templates/ingress.yaml
  charts/ftl/values.yaml
  deployment/Justfile
  deployment/values-release.yaml
  deployment/values.yaml
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-infra-team

Revert "chore: use provisioner for kube tests (#3134)"
  internal/integration/actions.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas

fix: typealias case issues in icons and urls
  frontend/console/src/features/command-pallete/CommandPalette.tsx
  frontend/console/src/features/command-pallete/command-palette.utils.ts
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

fix: typealias case issues in icons and urls (#3147)
  frontend/console/src/features/command-pallete/CommandPalette.tsx
  frontend/console/src/features/command-pallete/command-palette.utils.ts
  frontend/console/src/features/modules/ModulesTree.tsx
  frontend/console/src/features/modules/module.utils.ts
Owners: @TBD54566975/ftl-frontend-team

feat: plugin improvements (stub generation, clean up)
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  go-runtime/compile/build.go
  go-runtime/compile/dependencies.go
  go-runtime/compile/external-module-template/external_module.go.tmpl
  go-runtime/compile/external-module-template/go.mod.tmpl
  go-runtime/compile/stubs.go
  go-runtime/compile/stubs_test.go
  internal/buildengine/build.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/buildengine/module.go
  internal/buildengine/stubs.go
  internal/watch/watch.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team

feat: plugin improvements (stub generation, clean up) (#3136)
  backend/protos/xyz/block/ftl/v1/language/language.pb.go
  backend/protos/xyz/block/ftl/v1/language/language.proto
  backend/protos/xyz/block/ftl/v1/language/languagepbconnect/language.connect.go
  backend/protos/xyz/block/ftl/v1/language/mixins.go
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_connect.ts
  frontend/console/src/protos/xyz/block/ftl/v1/language/language_pb.ts
  go-runtime/compile/build.go
  go-runtime/compile/dependencies.go
  go-runtime/compile/external-module-template/external_module.go.tmpl
  go-runtime/compile/external-module-template/go.mod.tmpl
  go-runtime/compile/stubs.go
  go-runtime/compile/stubs_test.go
  internal/buildengine/build.go
  internal/buildengine/engine.go
  internal/buildengine/languageplugin/external_plugin.go
  internal/buildengine/languageplugin/external_plugin_client.go
  internal/buildengine/languageplugin/external_plugin_test.go
  internal/buildengine/languageplugin/go_plugin.go
  internal/buildengine/languageplugin/java_plugin.go
  internal/buildengine/languageplugin/plugin.go
  internal/buildengine/languageplugin/rust_plugin.go
  internal/buildengine/module.go
  internal/buildengine/stubs.go
  internal/watch/watch.go
Owners: @TBD54566975/ftl-reviewers, @alecthomas, @TBD54566975/ftl-frontend-team, @TBD54566975/ftl-go-team
